<ngx-spinner></ngx-spinner>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>SAASHR | HR Admin Template | SAAS | Bootstrap</title>
    <!-- GLOBAL MAINLY STYLES-->
    <!-- <link href="./assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="./assets/css/themify-icons.css" rel="stylesheet" /> -->
    <!-- PLUGINS STYLES-->
    <!-- <link href="./assets/css/datatables.min.css" rel="stylesheet" /> -->
    <!-- THEME STYLES-->
    <!-- <link href="./assets/css/main.min.css" rel="stylesheet" /> -->
    <!-- PAGE LEVEL STYLES-->
</head>

<body class="fixed-navbar">
    <div class="page-wrapper">
           <app-header></app-header>


              <app-sidebar></app-sidebar>

                    <div class="content-wrapper">
                            <!-- START PAGE CONTENT-->
                            <div class="page-heading">
                                <h1 class="page-title">Leave Details</h1>
                            </div>
                            <div class="page-content fade-in-up">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ibox">
                                            
                                            <div class="ibox-body">
                                               
                                                 <!--h-->

                               <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                              
                              
                              <div style="overflow:auto;">
                               <div class="mat-elevation-z8">
                                   <mat-table [dataSource]="listData" matSort>
                                       <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                       <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>
                                   
                                      
                                       <ng-container matColumnDef="emp_code" >
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Emp_Code</mat-header-cell>
                                        <mat-header-cell *matCellDef="let element">{{element.emp_code}} 
                                           
                                        </mat-header-cell>
                                        
                                    </ng-container>
                                    
                                       <ng-container matColumnDef="first_name" >
                                           <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                                           <mat-header-cell *matCellDef="let element">{{element.first_name}} {{element.last_name}}
                                              
                                           </mat-header-cell>
                                           
                                       </ng-container>

                                       <ng-container matColumnDef="desgn" >
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Designation</mat-header-cell>
                                        <mat-header-cell *matCellDef="let element">{{element.desgn}} 
                                           
                                        </mat-header-cell>
                                        
                                    </ng-container>

                                    <ng-container matColumnDef="sl_taken" >
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>SL_Taken</mat-header-cell>
                                        <mat-header-cell *matCellDef="let element">{{element.sl_taken}} 
                                           
                                        </mat-header-cell>
                                        
                                    </ng-container>

                                    <ng-container matColumnDef="cl_taken" >
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>CL_Taken</mat-header-cell>
                                        <mat-header-cell *matCellDef="let element">{{element.cl_taken}} 
                                           
                                        </mat-header-cell>
                                        
                                    </ng-container>

                                    <ng-container matColumnDef="total-taken" >
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Total_Taken</mat-header-cell>
                                        <mat-header-cell *matCellDef="let element">{{(element.sl_taken*1 +element.cl_taken*1)}}
                                           
                                        </mat-header-cell>
                                        
                                    </ng-container>

                                    <ng-container matColumnDef="sl_balance" >
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>SL_balance</mat-header-cell>
                                        <mat-header-cell *matCellDef="let element">{{element.sl_balance}} 
                                           
                                        </mat-header-cell>
                                        
                                    </ng-container>

                                    <ng-container matColumnDef="cl_balance" >
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>CL_balance</mat-header-cell>
                                        <mat-header-cell *matCellDef="let element">{{element.cl_balance}} 
                                           
                                        </mat-header-cell>
                                        
                                    </ng-container>

                                    <ng-container matColumnDef="total-balance" >
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Total_balance</mat-header-cell>
                                        <mat-header-cell *matCellDef="let element">{{(element.sl_balance*1 +element.cl_balance*1)}}
                                           
                                        </mat-header-cell>
                                        
                                    </ng-container>
                                     </mat-table>
                                     <mat-paginator [length]="100"
                                                 [pageSize]="5"
                                                 [pageSizeOptions]="[5, 10, 25, 100]">
                                   </mat-paginator>
                                   
                                   </div>
                                   </div>
                              <!--h-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- -->
                            </div>
                        </div>
       </div>   
       <div class="sidenav-backdrop backdrop"></div>

</body>

</html>