<ngx-spinner></ngx-spinner>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>SAASHR | HR Admin Template | SAAS | Bootstrap</title>
    <!-- GLOBAL MAINLY STYLES-->
    <!-- <link href="./assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="./assets/css/themify-icons.css" rel="stylesheet" /> -->
    <!-- PLUGINS STYLES-->
    <!-- <link href="./assets/css/datatables.min.css" rel="stylesheet" /> -->
    <!-- THEME STYLES-->
    <!-- <link href="./assets/css/main.min.css" rel="stylesheet" /> -->
    <!-- PAGE LEVEL STYLES-->
</head>

<body class="fixed-navbar">
    <div class="page-wrapper">
            <app-header></app-header>


             <app-sidebar></app-sidebar>

                    <div class="content-wrapper">
                            <!-- START PAGE CONTENT-->
                            <div class="page-heading">
                                <h1 class="page-title">Form 16</h1>
                            </div>
                            <div class="page-content fade-in-up">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ibox">
                                            <div class="ibox-head">
                                                <div class="ibox-title">
                                                        <select  (change)="selectvalue($event.target.value)"> 
                                                            <option value="0">--Select Year--</option>
                                                            <option *ngFor="let data of recent" value="{{data.year}}">{{data.year}}</option>
                                                           
                                                            </select>

                                                            
                                                            &nbsp;
                                                        <a *ngIf="value!=0 &&  value"  target="_blank" href="{{'http://79.137.30.8:4000/'+path}}">View</a>
                                                </div>
                                                
                                                
                                            </div>
                                            
                                        </div>
                                        
                                      
                                    </div>
                                </div>
                                <!-- -->
                            </div>
                        </div>
       </div>   
       <div class="sidenav-backdrop backdrop"></div>

</body>

</html>