<ngx-spinner></ngx-spinner>
<!DOCTYPE html>
<html lang="en">

       

<body class="fixed-navbar">
  
    <div class="page-wrapper">
        <!-- START HEADER-->
       
       <app-header></app-header>
       <app-sidebar></app-sidebar>

       

            <div class="content-wrapper">
                    <div class="page-heading">
                            <h1 class="page-title">Staff </h1>
                        </div>

                        
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Add Staff</div>
                                
                                <div class="ibox-tools"> <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                                </div>
                            </div>
                       
                            <div class="ibox-body">
                                

                                <form [formGroup]="registerform" (ngSubmit)="onSubmit()">
                                  <h4>Login Details</h4>
                                  <div style="border-style: double;">
                              <div class="row">
                               
                                  <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('username').errors &&
                                  (registerform.get('username').touched || registerform.get('username').dirty)
                                }">
                                      <label>User Name</label>
                                      <input formControlName="username" (input)="onSearchChange($event.target.value)" pattern="[a-zA-Z ]*" class="form-control" type="text" placeholder="User Name">
                                      <span class="help-block" *ngIf="registerform.get('username').errors &&
                                      (registerform.get('username').touched || registerform.get('username').dirty)">
                                        <span *ngIf="registerform.get('username').errors.required" class="text-danger">User Name is required</span>
                                      </span>
                                      <span *ngIf="error" class="text-danger">User Name already exist</span>
                                  </div>
                                  
                                  <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('password').errors &&
                                  (registerform.get('password').touched || registerform.get('password').dirty)
                                }">
                                      <label>Password</label>
                                      <input formControlName="password" class="form-control" type="text" placeholder="Password">
                                      <span class="help-block" *ngIf="registerform.get('password').errors &&
                                      (registerform.get('password').touched || registerform.get('password').dirty)">
                                        <span *ngIf="registerform.get('password').errors.required" class="text-danger">Password is required</span>
                                      </span>
                                  </div>
                              </div>
                         
                             
                          </div>
                <br/>

                                  <h4>Personal Details</h4>
                                         <div style="border-style: double;"> 
                                    <div class="row">
                                     
                                        <div class="col-sm-4 form-group" [ngClass]="{'has-error':registerform.get('first_name').errors &&
                                        (registerform.get('first_name').touched || registerform.get('first_name').dirty)
                                      }">
                                            <label>First Name</label>
                                            <input formControlName="first_name"  class="form-control" type="text" placeholder="John">
                                            <span class="help-block" *ngIf="registerform.get('first_name').errors &&
                                            (registerform.get('first_name').touched || registerform.get('first_name').dirty)">
                                              <span *ngIf="registerform.get('first_name').errors.required" class="text-danger">First Name is required</span>
                                              <span *ngIf="registerform.get('first_name').errors.minlength || 
                                              registerform.get('first_name').errors.pattern" class="text-danger">Please enter valid entry</span>
                                            </span>
                                        </div>
                                        
                                        <div class="col-sm-4 form-group" [ngClass]="{'has-error':registerform.get('last_name').errors &&
                                        (registerform.get('last_name').touched || registerform.get('last_name').dirty)
                                      }">
                                            <label>Middle Name</label>
                                            <input formControlName="middle_name" class="form-control" type="text" placeholder="Maichel">
                                            <span class="help-block" *ngIf="registerform.get('middle_name').errors &&
                                            (registerform.get('middle_name').touched || registerform.get('middle_name').dirty)">
                                              <span *ngIf="registerform.get('middle_name').errors.required" class="text-danger">Middle Name is required</span>
                                              <span *ngIf="registerform.get('middle_name').errors.minlength || 
                                              registerform.get('middle_name').errors.pattern" class="text-danger">Please enter valid entry</span>
                                            </span>
                                            <!-- <span class="help-block" *ngIf="registerform.get('last_name').errors &&
                                            (registerform.get('last_name').touched || registerform.get('last_name').dirty)">
                                              
                                            </span> -->
                                        </div>
                                        <div class="col-sm-4 form-group" [ngClass]="{'has-error':registerform.get('last_name').errors &&
                                        (registerform.get('last_name').touched || registerform.get('last_name').dirty)
                                      }">
                                            <label>Last Name</label>
                                            <input formControlName="last_name" class="form-control" type="text" placeholder="Hendry">
                                            <span class="help-block" *ngIf="registerform.get('last_name').errors &&
                                            (registerform.get('last_name').touched || registerform.get('last_name').dirty)">
                                              <span *ngIf="registerform.get('last_name').errors.required" class="text-danger">Last Name is required</span>
                                              <span *ngIf="registerform.get('last_name').errors.minlength || 
                                              registerform.get('last_name').errors.pattern" class="text-danger">Please enter valid entry</span>
                                            </span>
                                            <!-- <span class="help-block" *ngIf="registerform.get('last_name').errors &&
                                            (registerform.get('last_name').touched || registerform.get('last_name').dirty)">
                                              
                                            </span> -->
                                        </div>
                                    </div>
                               
                                    <div class="row">
                                        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('dob').errors &&
                                        (registerform.get('dob').touched || registerform.get('dob').dirty)
                                      }">
                                            <label>Dob</label>
                                            <input formControlName="dob" class="form-control" type="date" placeholder="01 May 1980">
                                            <span class="help-block" *ngIf="registerform.get('dob').errors &&
                                            (registerform.get('dob').touched || registerform.get('dob').dirty)">
                                              <span *ngIf="registerform.get('dob').errors.required" class="text-danger">Date of birth is required</span>
                                            </span>
                                        </div>
                                        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('gender').errors &&
                                        (registerform.get('gender').touched || registerform.get('gender').dirty)
                                      }">
                                            <label>Gender</label>
                                           <select class="form-control" formControlName="gender">
                                                <option>--Select Gender--</option>
                                               <option value="M">Male</option>
                                               <option value="F">Female</option>
                                           </select>
                                           <span class="help-block" *ngIf="registerform.get('gender').errors &&
                                            (registerform.get('gender').touched || registerform.get('gender').dirty)">
                                              <span *ngIf="registerform.get('gender').errors.required" class="text-danger">Gender is required</span>
                                            </span>
                                        </div>
                                    </div>
                                </div> 
                      <br/>
                                    <h4>Contact_Info</h4>
                                    <div style="border-style: double;">
                                    <div class="row">
                                        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('mobile_no').errors &&
                                        (registerform.get('mobile_no').touched || registerform.get('mobile_no').dirty)
                                      }">
                                            <label>Mobile No.</label>
                                            <input formControlName="mobile_no"  class="form-control" type="text" placeholder="+91 6565656567">
                                            <span class="help-block" *ngIf="registerform.get('mobile_no').errors &&
                                            (registerform.get('mobile_no').touched || registerform.get('mobile_no').dirty)">
                                              <span *ngIf="registerform.get('mobile_no').errors.required" class="text-danger">Mobile No. is required</span>
                                            </span>
                                            <span class="help-block" *ngIf="registerform.get('mobile_no').errors &&
                                            (registerform.get('mobile_no').touched || registerform.get('mobile_no').dirty)">
                                              <span *ngIf="registerform.get('mobile_no').errors.minlength || 
                                              registerform.get('mobile_no').errors.pattern" class="text-danger">Mobile No. should be 10 digit</span>
                                            </span>
                                        </div>
                                        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('alternate_mobile_no').errors &&
                                        (registerform.get('alternate_mobile_no').touched || registerform.get('alternate_mobile_no').dirty)
                                      }">
                                            <label>Alternate Mobile No.</label>
                                            <input formControlName="alternate_mobile_no" class="form-control" type="text" placeholder="+91 8988778787">
                                            <span class="help-block" *ngIf="registerform.get('alternate_mobile_no').errors &&
                                            (registerform.get('alternate_mobile_no').touched || registerform.get('alternate_mobile_no').dirty)">
                                              <span *ngIf="registerform.get('alternate_mobile_no').errors.required" class="text-danger">Alternate Mobile No. is required</span>
                                            </span>
                                            <span class="help-block" *ngIf="registerform.get('alternate_mobile_no').errors &&
                                            (registerform.get('alternate_mobile_no').touched || registerform.get('alternate_mobile_no').dirty)">
                                              <span *ngIf="registerform.get('alternate_mobile_no').errors.minlength || 
                                              registerform.get('alternate_mobile_no').errors.pattern" class="text-danger">Alternate Mobile No. should be 10 digit</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 form-group"  [ngClass]="{'has-error':registerform.get('personal_email').errors &&
                                        (registerform.get('personal_email').touched || registerform.get('personal_email').dirty)
                                      }">
                                            <label class="form-control-label">Personal Email</label>
                                            <input formControlName="personal_email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control" type="email" placeholder="example@gmail.com">
                                            <span class="help-block" *ngIf="registerform.get('personal_email').errors &&
                                            (registerform.get('personal_email').touched || registerform.get('personal_email').dirty)">
                                              <span *ngIf="registerform.get('personal_email').errors.required" class="text-danger">Email Id is required</span>
                                            </span>
                                            <span class="help-block" *ngIf="registerform.get('personal_email').errors &&
                                            (registerform.get('personal_email').touched || registerform.get('personal_email').dirty)">
                                              <span *ngIf="registerform.get('personal_email').errors.pattern" class="text-danger">Email should be valid</span>
                                            </span>
                                            <span *ngIf="error1" class="text-danger">Email_Id already exist</span>
                                        </div>
                                        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('professional_email').errors &&
                                        (registerform.get('professional_email').touched || registerform.get('professional_email').dirty)
                                      }">
                                            <label>Professional Email</label>
                                            <input pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" formControlName="professional_email" class="form-control" type="email" placeholder="example1@gmail.com">
                                            <span class="help-block" *ngIf="registerform.get('professional_email').errors &&
                                            (registerform.get('professional_email').touched || registerform.get('professional_email').dirty)">
                                              <span *ngIf="registerform.get('professional_email').errors.required" class="text-danger">Professional Email is required</span>
                                            </span>

                                            <span class="help-block" *ngIf="registerform.get('professional_email').errors &&
                                            (registerform.get('professional_email').touched || registerform.get('professional_email').dirty)">
                                              <span *ngIf="registerform.get('professional_email').errors.pattern" class="text-danger">Email Should be valid</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('address').errors &&
                                        (registerform.get('address').touched || registerform.get('address').dirty)
                                      }">
                                            <label>Address</label>
                                            <input formControlName="address" class="form-control" type="text" placeholder="Address">
                                            <span class="help-block" *ngIf="registerform.get('address').errors &&
                                            (registerform.get('address').touched || registerform.get('address').dirty)">
                                              <span *ngIf="registerform.get('address').errors.required" class="text-danger">Address is required</span>
                                            </span>
                                        </div>
                                        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('aadhaar').errors &&
                                        (registerform.get('aadhaar').touched || registerform.get('aadhaar').dirty)
                                      }">
                                                <label>Adhar No.</label>
                                                <input formControlName="aadhaar" class="form-control" type="text" placeholder="xxxxx, xxxx. sd">
                                                <span class="help-block" *ngIf="registerform.get('aadhaar').errors &&
                                                (registerform.get('aadhaar').touched || registerform.get('aadhaar').dirty)">
                                                  <span *ngIf="registerform.get('aadhaar').errors.required" class="text-danger">Adhar No. is required</span>
                                                </span>
                                                <span class="help-block" *ngIf="registerform.get('aadhaar').errors &&
                                                (registerform.get('aadhaar').touched || registerform.get('aadhaar').dirty)">
                                                  <span *ngIf="registerform.get('aadhaar').errors.pattern" class="text-danger">Adhar No. must be at least 12 characters</span>
                                                </span>
                                            </div>
                                    </div>
                                    </div>
                                   
                                    <br/>
                                    <h4>Bank_Info</h4>
                                    <div style="border-style: double;">
                                    <div class="row">
                                        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('pan').errors &&
                                        (registerform.get('pan').touched || registerform.get('pan').dirty)
                                      }">
                                            <label>Pan Card No.</label>
                                            <input formControlName="pan" oninput="this.value = this.value.toUpperCase()" class="form-control" type="text" placeholder="xxxxx, xxxx. sd">
                                            <span class="help-block" *ngIf="registerform.get('pan').errors &&
                                            (registerform.get('pan').touched || registerform.get('pan').dirty)">
                                              <span *ngIf="registerform.get('pan').errors.required" class="text-danger">Pan No. is required</span>
                                            </span>
                                            <span class="help-block" *ngIf="registerform.get('pan').errors &&
                                            (registerform.get('pan').touched || registerform.get('pan').dirty)">
                                              <span *ngIf="registerform.get('pan').errors.pattern" class="text-danger">Pan No. must be at least 12 characters
                                                </span>
                                            </span>
                                        </div>

                                        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('account_no').errors &&
                                        (registerform.get('account_no').touched || registerform.get('account_no').dirty)
                                      }">
                                            <label>Account No.</label>
                                            <input  formControlName="account_no" class="form-control" type="number" placeholder="xxxxx, xxxx. sd">
                                            <span class="help-block" *ngIf="registerform.get('account_no').errors &&
                                            (registerform.get('account_no').touched || registerform.get('account_no').dirty)">
                                              <span *ngIf="registerform.get('account_no').errors.required" class="text-danger">Enter Valid Account No.</span>
                                            </span>
                                            
                                        </div>
                                    </div>

                                    <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <label>Bank Name</label>
                                                <input class="form-control" formControlName="bank_name" type="text" placeholder="Bank Name">
                                                <span class="help-block" *ngIf="registerform.get('bank_name').errors &&
                                                (registerform.get('bank_name').touched || registerform.get('bank_name').dirty)">
                                                  <span *ngIf="registerform.get('bank_name').errors.required" class="text-danger">Bank Name is required</span>
                                                </span>
                                            </div>
                                            
                                            <div class="col-sm-6 form-group">
                                                <label>IFSC</label>
                                                <input oninput="this.value = this.value.toUpperCase()" class="form-control" formControlName="ifsc"  type="text" placeholder="IFSC No.">
                                                <span class="help-block" *ngIf="registerform.get('ifsc').errors &&
                                                (registerform.get('ifsc').touched || registerform.get('ifsc').dirty)">
                                                  <span *ngIf="registerform.get('ifsc').errors.required" class="text-danger">IFSC is required</span>
                                                </span>
                                                <span class="help-block" *ngIf="registerform.get('ifsc').errors &&
                                                (registerform.get('ifsc').touched || registerform.get('ifsc').dirty)">
                                                  <span *ngIf="registerform.get('ifsc').errors.pattern" class="text-danger">IFSC is not valid</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <br/>
                                        <h4>Educational Details</h4>
                                        <div style="border-style: double;">
                                    <div class="row">
                                        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('qualification').errors &&
                                        (registerform.get('qualification').touched || registerform.get('qualification').dirty)
                                      }">
                                            <label>Qualification</label>
                                            <input formControlName="qualification" class="form-control" type="text" placeholder="Education Details">
                                            <span class="help-block" *ngIf="registerform.get('qualification').errors &&
                                            (registerform.get('qualification').touched || registerform.get('qualification').dirty)">
                                              <span *ngIf="registerform.get('qualification').errors.required" class="text-danger">Qualification is required</span>
                                            </span>
                                        </div>
                                       
                                    </div>
                                    </div>

                                    <br/>
                                    <h4>Offical Info</h4>
                                    <div style="border-style: double;">
                                    <div class="row">
                                        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('doj').errors &&
                                        (registerform.get('doj').touched || registerform.get('doj').dirty)
                                      }">
                                            <label>Date Of Joining</label>
                                            <input formControlName="doj" class="form-control" type="date" placeholder="Joining Date">
                                            <span class="help-block" *ngIf="registerform.get('doj').errors &&
                                            (registerform.get('doj').touched || registerform.get('doj').dirty)">
                                              <span *ngIf="registerform.get('doj').errors.required" class="text-danger">Date Of Joining is required</span>
                                            </span>
                                        </div>
                                        <div class="col-sm-6 form-group" *ngIf="designation==1" [ngClass]="{'has-error':registerform.get('designation_id').errors &&
                                        (registerform.get('designation_id').touched || registerform.get('designation_id').dirty)
                                      }">
                                            <label>Designation</label>
                                            <select class="form-control" formControlName="designation_id" >
                                                    <option value="">--Select Designation--</option>
                                                   <option value="{{item.id}}" *ngFor="let item of fetchdesign">{{item.name}}</option>
                                                   
                                               </select>
                                               <span class="help-block" *ngIf="registerform.get('designation_id').errors &&
                                               (registerform.get('designation_id').touched || registerform.get('designation_id').dirty)">
                                                 <span *ngIf="registerform.get('designation_id').errors.required" class="text-danger">Designation is required</span>
                                               </span>
                                        </div>

                                        <div *ngIf="designation==2" class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('designation_id').errors &&
                                        (registerform.get('designation_id').touched || registerform.get('designation_id').dirty)
                                      }">
                                            <label>Designation</label>
                                            <select class="form-control" formControlName="designation_id" >
                                                    <option value="">--Select Designation--</option>
                                                   <option value="{{item1.id}}" *ngFor="let item1 of fetchdesign1">{{item1.name}}</option>
                                                   
                                               </select>
                                               <span class="help-block" *ngIf="registerform.get('designation_id').errors &&
                                               (registerform.get('designation_id').touched || registerform.get('designation_id').dirty)">
                                                 <span *ngIf="registerform.get('designation_id').errors.required" class="text-danger">Designation is required</span>
                                               </span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6 form-group" >
                                            <label>Location Name</label>
                                            <select class="form-control" formControlName="location_id">
                                              <option value="" >--Select Location--</option>
                                              <option value="{{data.id}}" *ngFor="let data of fetchloc">{{data.name}}</option>
                                              
                                            </select>
                                        </div>
                                           
                                        </div>
                                    </div>
                                    <br/>

                                    <h4>Leave Details</h4>
                                    <div style="border-style: double;">
                                <div class="row">
                                 
                                    <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('sl_entitled').errors &&
                                    (registerform.get('sl_entitled').touched || registerform.get('sl_entitled').dirty)
                                  }">
                                        <label>Sick Leave</label>
                                        <input formControlName="sl_entitled"  class="form-control" type="text" placeholder="Sick Leave">
                                        <span class="help-block" *ngIf="registerform.get('sl_entitled').errors &&
                                        (registerform.get('sl_entitled').touched || registerform.get('sl_entitled').dirty)">
                                          <span *ngIf="registerform.get('sl_entitled').errors.required" class="text-danger">Sick Leave is required</span>
                                        </span>
                                        <span class="help-block" *ngIf="registerform.get('sl_entitled').errors &&
                                        (registerform.get('sl_entitled').touched || registerform.get('sl_entitled').dirty)">
                                          <span *ngIf="registerform.get('sl_entitled').errors.pattern" class="text-danger">Sick Leave should be valid</span>
                                        </span>
                                    </div>
                                    <!-- <input type="text" (change)="numberOnly($event.target.value)"> -->

                                    <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('cl_entitled').errors &&
                                    (registerform.get('cl_entitled').touched || registerform.get('cl_entitled').dirty)
                                  }">
                                        <label>Casual Leave</label>
                                        <input formControlName="cl_entitled" class="form-control" type="text" placeholder="Casual Leave">
                                        <span class="help-block" *ngIf="registerform.get('cl_entitled').errors &&
                                        (registerform.get('cl_entitled').touched || registerform.get('cl_entitled').dirty)">
                                          <span *ngIf="registerform.get('cl_entitled').errors.required" class="text-danger">Casual Leave is required</span>
                                        </span>
                                        <span class="help-block" *ngIf="registerform.get('cl_entitled').errors &&
                                        (registerform.get('cl_entitled').touched || registerform.get('cl_entitled').dirty)">
                                          <span *ngIf="registerform.get('cl_entitled').errors.pattern" class="text-danger">Casual Leave should be valid</span>
                                        </span>
                                    </div>
                                </div>
                           <!-- <p>{{(pack) || 0}}</p> -->
                               
                            </div>
                  <br/>

                  <!-- <h4>Package Details</h4>
                                    <div style="border-style: double;">
                                <div class="row">
                                 
                                    <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('sl_entitled').errors &&
                                    (registerform.get('sl_entitled').touched || registerform.get('sl_entitled').dirty)
                                  }">
                                        <label>Yearly Package</label>
                                        <input formControlName="yearly_package"  (change)="numberOnly($event.target.value)" class="form-control" type="text" placeholder="Yearly Package">
                                        
                                    </div>
                                    

                                    <div class="col-sm-6 form-group">
                                        <label>Monthly Salary</label>
                                        <input readonly="" value="{{(pack | number : fractionSize) || 0}}" class="form-control" type="text">
                                        
                                    </div>

                                    <div class="col-sm-6 form-group">
                                        <label>Per Day Salary</label>
                                        <input readonly="" value="{{(perday | number : fractionSize) || 0}}" class="form-control" type="text">
                                        
                                    </div>
                                </div>
                          
                               
                            </div> -->
                  <!-- <br/> -->

                                   
                                    <div class="form-group">
                                       <button [disabled]="(!registerform.valid || f!=0)" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                <!-- -->
            </div>
                    </div>

                    <div class="sidenav-backdrop backdrop"></div>
                    
</body>

</html>