<ngx-spinner></ngx-spinner>
<!DOCTYPE html>
<html lang="en">

       

<body class="fixed-navbar">
  
    <div class="page-wrapper">
        <!-- START HEADER-->
       
       <app-header></app-header>
       <app-sidebar></app-sidebar>

       <div class="content-wrapper">
            <div class="page-heading">
                    <h1 class="page-title">Add Holiday Details</h1>
                </div>

                <div class="row">
                        <div class="col-md-6">
                            <div class="ibox">
                                <div class="ibox-head">
                                    <div class="ibox-title"></div>
                                    <div class="ibox-tools"> <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                                        <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right"> <a class="dropdown-item">option 1</a>
                                            <a class="dropdown-item">option 2</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="ibox-body">
                                    <form [formGroup]="register" (ngSubmit)="OnSubmit()">
                                        <div class="form-group">
                                            <label>Calender</label>
                                            <input formControlName="date" class="form-control" type="date" >
                                            <span class="help-block" *ngIf="register.get('date').errors &&
                                            (register.get('date').touched || register.get('date').dirty)">
                                              <span *ngIf="register.get('date').errors.required" class="text-danger">Date is required</span>
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input formControlName="name" class="form-control" type="text" placeholder="Name">
                                            <span class="help-block" *ngIf="register.get('name').errors &&
                                            (register.get('name').touched || register.get('name').dirty)">
                                              <span *ngIf="register.get('name').errors.required" class="text-danger">Name is required</span>
                                            </span>
                                        </div>
                                       
                                        
                                        <div class="form-group">
                                            <button [disabled]="!register.valid" class="btn btn-primary" >Add</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        

                        <div class="col-lg-6">
                                <div class="ibox">
                                    <div class="ibox-head">
                                        <div class="ibox-title">Holiday List</div>
                                        <div class="ibox-tools"> <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                                           
                                        </div>
                                    </div>
                                    <div class="ibox-body">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th> Name</th>
                                                    <th>Date</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- <tr *ngFor="let data of recentdata;let i=index">
                                                    <td>
                                                        <input type="text"  class="form-control" [disabled]="(this.f!=0)" value="{{data.name}}">
                                                    </td>
                                                    
                                                    
                                                    <td >
                                                            <input type="date" class="form-control"  value="{{data.date}}">
                                                    </td>
                                                    <td>
                                                            <button (click)="edit(data.id,i)" *ngIf="hide" class="btn btn-success btn-xs m-r-5" data-toggle="tooltip" data-original-title="Edit" ><i class="fa fa-edit font-14"></i>
                                                            </button>
                                                            <button (click)="update(data.id,i)" *ngIf="show" class="btn btn-success btn-xs m-r-5" data-toggle="tooltip" data-original-title="Edit" ><i class="fa fa-save font-14"></i>
                                                            </button>
                                                            <button (click)="delete(data.id)" class="btn btn-danger btn-xs" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash font-14"></i>
                                                            </button>
                                                        </td>
                                                </tr> -->
                                                <tr *ngFor="let data of recentdata">
                                                    <td>
                                                      <input type="text" class="form-control"  [(ngModel)]="data.name" [disabled]="!data.isEditable"/>
                                                    </td>

                                                    <td>
                                                        <input type="date" class="form-control"  [(ngModel)]="data.date" [disabled]="!data.isEditable"/>
                                                    </td>
                                                   
                                                    <td>
                                                       <button (click)="[data.isEditable=!data.isEditable,edit(data.id)]" class="btn btn-success btn-xs m-r-5" *ngIf="!data.isEditable" data-toggle="tooltip" >
                                                            <i class="fa fa-edit font-14"></i></button>
                                                       <button *ngIf="data.isEditable" [disabled]="(data.name=='' || data.date=='')" (click)="[data.isEditable=!data.isEditable,update(data.id,data.name,data.date)]" class="btn btn-success btn-xs m-r-5" data-toggle="tooltip" ><i class="fa fa-save font-14"></i>
                                                    </button>
                                                    <button (click)="delete(data.id)" class="btn btn-danger btn-xs" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash font-14"></i>
                                                    </button>
                                                    </td>
                                                  </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                    </div>

                    
                
           </div>
       
       </div>
       </body>
       </html>
