<h2 mat-dialog-title>Update Attendance Details</h2>
<mat-dialog-content class="mat-typography">
<mat-dialog-actions align="end">
        <button mat-button mat-dialog-close class="btn btn-danger">X</button>
        
      </mat-dialog-actions>
      <form  [formGroup]="registerform" (ngSubmit)="onSubmit()">
                                 
                             
                

       
        <div class="row">
           
          <div class="col-sm-12 form-group" [ngClass]="{'has-error':registerform.get('date').errors &&
          (registerform.get('date').touched || registerform.get('date').dirty)
        }">
              <label>Date:</label>
              <input formControlName="date" class="form-control" type="date" placeholder="01 May 1980">
                                            <span class="help-block" *ngIf="registerform.get('date').errors &&
                                            (registerform.get('date').touched || registerform.get('date').dirty)">
                                              <span *ngIf="registerform.get('date').errors.required" class="text-danger">Date is required</span>
                                            </span>
          </div>
          
         
      </div>

 <div class="row">
           
              <div class="col-sm-12 form-group" [ngClass]="{'has-error':registerform.get('check_in').errors &&
              (registerform.get('check_in').touched || registerform.get('check_in').dirty)
            }">
                  <label>Check_In</label>
                  <input formControlName="check_in"  class="form-control" type="text" >
                  <span class="help-block" *ngIf="registerform.get('check_in').errors &&
                  (registerform.get('check_in').touched || registerform.get('check_in').dirty)">
                    <span *ngIf="registerform.get('check_in').errors.required" class="text-danger">Check In time is required</span>
                  </span>
              </div>
              
              <div class="col-sm-12 form-group" [ngClass]="{'has-error':registerform.get('check_out').errors &&
              (registerform.get('check_out').touched || registerform.get('check_out').dirty)
            }">
                  <label>Check_Out</label>
                  <input formControlName="check_out"  class="form-control" type="text">
                  <span class="help-block" *ngIf="registerform.get('check_out').errors &&
                  (registerform.get('check_out').touched || registerform.get('check_out').dirty)">
                    <span *ngIf="registerform.get('check_out').errors.required" class="text-danger">Check Out time is required</span>
                  </span>
              </div>
          </div>


         <!--LEAVE DETAILS-->
          <div class="form-group">
             <button [disabled]="!registerform.valid" class="btn btn-primary">Submit</button>
          </div>
      </form>
     
</mat-dialog-content>
