<ngx-spinner></ngx-spinner>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>SAASHR | HR Admin Template | SAAS | Bootstrap</title>
    <!-- GLOBAL MAINLY STYLES-->
    <!-- <link href="./assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="./assets/css/themify-icons.css" rel="stylesheet" /> -->
    <!-- PLUGINS STYLES-->
    <!-- <link href="./assets/css/datatables.min.css" rel="stylesheet" /> -->
    <!-- THEME STYLES-->
    <!-- <link href="./assets/css/main.min.css" rel="stylesheet" /> -->
    <!-- PAGE LEVEL STYLES-->
</head>

<body class="fixed-navbar">
    <div class="page-wrapper">
           <app-header></app-header>


              <app-sidebar></app-sidebar>

                    <div class="content-wrapper">
                            <!-- START PAGE CONTENT-->
                            <div class="page-heading">
                                <h1 class="page-title">Salary Slip</h1>
                            </div>
                            <div class="page-content fade-in-up">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ibox">
                                            <div class="ibox-head">
                                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                              
                                                
                                            </div>
                                            <div class="ibox-body"> 
                                                <!-- <br/>  Check All: <input type="checkbox" name="vehicle1" value="Bike"> -->
                                               
                                                <div style="overflow:auto;">
                                                    <div class="mat-elevation-z8">
                                                        <mat-table [dataSource]="listData" matSort>
                                                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                                            <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>
                                                        
                                                           
                                                        
                                                            <ng-container matColumnDef="month_name">
                                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Month</mat-header-cell>
                                                                <mat-header-cell *matCellDef="let element">{{element.month_name}} 
                                                                   
                                                                </mat-header-cell>
                                                                
                                                            </ng-container>
                    
                                                            <ng-container matColumnDef="year">
                                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Year</mat-header-cell>
                                                                <mat-header-cell *matCellDef="let element">{{element.year}} 
                                                                   
                                                                </mat-header-cell>
                                                                
                                                            </ng-container>
                    
                                                            <ng-container matColumnDef="count">
                                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Total Pages</mat-header-cell>
                                                                <mat-header-cell *matCellDef="let element">{{element.count}} 
                                                                   
                                                                </mat-header-cell>
                                                                
                                                            </ng-container>

                                                            <ng-container matColumnDef="totalemp">
                                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Total Employee</mat-header-cell>
                                                                <mat-header-cell *matCellDef="let element">{{element.count}} 
                                                                   
                                                                </mat-header-cell>
                                                                
                                                            </ng-container>

                                                            <ng-container matColumnDef="pdf">
                                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
                                                                <mat-header-cell *matCellDef="let element">
                                                                    <button class="btn btn-success" (click)="salarypdf(element.month,element.year)">View & Download</button>
                                                                 </mat-header-cell>
                                                                
                                                            </ng-container>
                                                             
                                                          </mat-table>
                                                          <mat-paginator [length]="100"
                                                                      [pageSize]="5"
                                                                      [pageSizeOptions]="[5, 10, 25, 100]">
                                                        </mat-paginator>
                                                        
                                                        </div>
                                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- -->
                            </div>
                        </div>
       </div>   
       <div class="sidenav-backdrop backdrop"></div>

</body>

</html>