<ngx-spinner></ngx-spinner>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>SAASHR | HR Admin Template | SAAS | Bootstrap</title>
    <!-- GLOBAL MAINLY STYLES-->
    <!-- <link href="./assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="./assets/css/themify-icons.css" rel="stylesheet" /> -->
    <!-- PLUGINS STYLES-->
    <!-- <link href="./assets/css/datatables.min.css" rel="stylesheet" /> -->
    <!-- THEME STYLES-->
    <!-- <link href="./assets/css/main.min.css" rel="stylesheet" /> -->
    <!-- PAGE LEVEL STYLES-->
</head>

<body class="fixed-navbar">
    <div class="page-wrapper">
           <app-header></app-header>


              <app-sidebar></app-sidebar>

                    <div class="content-wrapper">
                            <!-- START PAGE CONTENT-->
                            <div class="page-heading">
                                <h1 class="page-title">Employee Leave Applications</h1>
                            </div>
                            <div class="page-content fade-in-up">
                                
                                <!-- -->
                                <!--h-->
                               <div *ngIf="designation==2">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">


  <div style="overflow:auto;">
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="listData" matSort>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>
  
     
  
      <ng-container matColumnDef="emp_code" >
          <mat-header-cell *matHeaderCellDef mat-sort-header>Emp_Code</mat-header-cell>
          <mat-header-cell *matCellDef="let element">{{element.emp_code}}
             
          </mat-header-cell>
        </ng-container>

        <ng-container matColumnDef="first_name" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-header-cell *matCellDef="let element">{{element.first_name}} {{element.last_name}}
               
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="desgn" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>Designation</mat-header-cell>
            <mat-header-cell *matCellDef="let element">{{element.desgn}}
               
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="type" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
            <mat-header-cell *matCellDef="let element">{{element.type}}
               
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="from_date" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>From Date</mat-header-cell>
            <mat-header-cell *matCellDef="let element">{{element.from_date}}
               
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="to_date" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>To Date</mat-header-cell>
            <mat-header-cell *matCellDef="let element">{{element.to_date}}
               
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="total_days" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>Days</mat-header-cell>
            <mat-header-cell *matCellDef="let element">{{element.total_days}}
               
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="reason" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>Reason</mat-header-cell>
            <mat-header-cell *matCellDef="let element">{{element.reason}}
               
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="id" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
            <mat-header-cell *matCellDef="let element">
             
                <button *ngIf="element.status!='Rejected'" [disabled]="element.status=='Accepted'" class="btn btn-success" (click)="accept(element.id,element.type,element.total_days,element.eid)">Accept{{yes}}</button>&nbsp;
                
                <button *ngIf="element.status!='Accepted'" class="btn btn-danger" (click)="update(element.id)">Reject</button>
                
            </mat-header-cell>
          </ng-container>

         

          
     
    </mat-table>
    <mat-paginator [length]="100"
                [pageSize]="5"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
  
  </div>
  </div>
</div>  

                                <!--h-->

                                 <!--h-->
                               <div *ngIf="designation==1">
  <input matInput (keyup)="applyFilter1($event.target.value)" placeholder="Filter">


  <div style="overflow:auto;">
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="listData1" matSort>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>
  
     
  
      <ng-container matColumnDef="emp_code" >
          <mat-header-cell *matHeaderCellDef mat-sort-header>Emp_Code</mat-header-cell>
          <mat-header-cell *matCellDef="let element">{{element.emp_code}}
             
          </mat-header-cell>
        </ng-container>

        <ng-container matColumnDef="first_name" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-header-cell *matCellDef="let element">{{element.first_name}} {{element.last_name}}
               
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="desgn" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>Designation</mat-header-cell>
            <mat-header-cell *matCellDef="let element">{{element.desgn}}
               
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="type" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
            <mat-header-cell *matCellDef="let element">{{element.type}}
               
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="from_date" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>From Date</mat-header-cell>
            <mat-header-cell *matCellDef="let element">{{element.from_date}}
               
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="to_date" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>To Date</mat-header-cell>
            <mat-header-cell *matCellDef="let element">{{element.to_date}}
               
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="total_days" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>Days</mat-header-cell>
            <mat-header-cell *matCellDef="let element">{{element.total_days}}
               
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="reason" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>Reason</mat-header-cell>
            <mat-header-cell *matCellDef="let element">{{element.reason}}
               
            </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="id" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
            <mat-header-cell *matCellDef="let element">
             
                <button *ngIf="element.status!='Rejected'" [disabled]="element.status=='Accepted'" class="btn btn-success" (click)="accept(element.id,element.type,element.total_days,element.eid)">Accept{{yes}}</button>&nbsp;
                
                <button *ngIf="element.status!='Accepted'" class="btn btn-danger" (click)="update(element.id)">Reject</button>
                
            </mat-header-cell>
          </ng-container>

         

          
     
    </mat-table>
    <mat-paginator [length]="100"
                [pageSize]="5"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
  
  </div>
  </div>
  </div>
                                <!--h-->
                            </div>
                        </div>
       </div>   
       <div class="sidenav-backdrop backdrop"></div>

</body>

</html>