<ngx-spinner></ngx-spinner>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>SAASHR | HR Admin Template | SAAS | Bootstrap</title>
    <!-- GLOBAL MAINLY STYLES-->
    <!-- <link href="./assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="./assets/css/themify-icons.css" rel="stylesheet" /> -->
    <!-- PLUGINS STYLES-->
    <!-- <link href="./assets/css/datatables.min.css" rel="stylesheet" /> -->
    <!-- THEME STYLES-->
    <!-- <link href="./assets/css/main.min.css" rel="stylesheet" /> -->
    <!-- PAGE LEVEL STYLES-->
</head>

<body class="fixed-navbar">
    <div class="page-wrapper">
           <app-header></app-header>


              <app-sidebar></app-sidebar>

                    <div class="content-wrapper">
                            <!-- START PAGE CONTENT-->
                            <div class="page-heading">
                                <h1 class="page-title">Your Attendance</h1>
                            </div>
                            <div class="page-content fade-in-up">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ibox">
                                            <div class="ibox-head">
                                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                                              
                                            </div>
                                            
                                            <!--table-->
                                            <div style="overflow:auto;">
                                                <div class="mat-elevation-z8">
                                                    <mat-table [dataSource]="listData" matSort>
                                                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                                        <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>
                                                    
                                                       
                                                    
                                                        <ng-container matColumnDef="emp_code" >
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header><b>Emp-Code</b></mat-header-cell>
                                                            <mat-header-cell *matCellDef="let element">{{element.emp_code}} 
                                                               
                                                            </mat-header-cell>
                                                            
                                                        </ng-container>

                                                        <ng-container matColumnDef="fullname" >
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header><b>Name</b></mat-header-cell>
                                                            <mat-header-cell *matCellDef="let element">{{element.fullname}} 
                                                               
                                                            </mat-header-cell>
                                                            
                                                        </ng-container>
                                                       
                                                        <ng-container matColumnDef="date" >
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header><b>Date</b></mat-header-cell>
                                                            <mat-header-cell *matCellDef="let element">{{element.date}} 
                                                               
                                                            </mat-header-cell>
                                                            
                                                        </ng-container>

                                                        <ng-container matColumnDef="check_in" >
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header><b>Check_In</b></mat-header-cell>
                                                            <mat-header-cell *matCellDef="let element">{{element.check_in}} 
                                                               
                                                            </mat-header-cell>
                                                            
                                                        </ng-container>

                                                        <ng-container matColumnDef="check_out" >
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header><b>Check Out</b></mat-header-cell>
                                                            <mat-header-cell *matCellDef="let element">{{element.check_out}} 
                                                               
                                                            </mat-header-cell>
                                                            
                                                        </ng-container>
                
                                                        <ng-container matColumnDef="worked_hours" >
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header><b>Hours/Minute</b></mat-header-cell>
                                                            <mat-header-cell *matCellDef="let element">{{element.worked_hours}} 
                                                               
                                                            </mat-header-cell>
                                                            
                                                        </ng-container>

                                                        <ng-container matColumnDef="attendance" >
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header><b>Presenty Mark</b></mat-header-cell>
                                                            <mat-header-cell *matCellDef="let element">{{element.attendance}} 
                                                               
                                                            </mat-header-cell>
                                                            
                                                        </ng-container>

                                                        <ng-container matColumnDef="id" >
                                                            <mat-header-cell *matHeaderCellDef mat-sort-header><b>Action</b></mat-header-cell>
                                                            <mat-header-cell *matCellDef="let element">
                                                                <!-- <a  (click)="openDialog(element.id)">
                                                             <i class='fa fa-eye' style="font-size:24px"></i>
                                                            
                                                            </a> ||
                                                            <a (click)="openDialog1(element.id)">
                                                            
                                                        <i class='fas fa-edit' style="font-size:24px"></i>
                                                        
                                                    </a>
                                                    || -->
                                                        
                                                        <a (click)="delete_emp(element.id)">
                                                             <i class='fa fa-trash'  style="font-size:24px"></i>
                                                             
                                                            </a>
                                                               
                                                            </mat-header-cell>
                                                         </ng-container>
                                                         
                                                      </mat-table>
                                                      <mat-paginator [length]="100"
                                                                  [pageSize]="2"
                                                                  [pageSizeOptions]="[2, 5, 10, 25, 100]">
                                                    </mat-paginator>
                                                    
                                                    <!-- <mat-paginator style="visibility:hidden" #page [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                                                     -->
                                                    </div>
                                                    </div>
                                            <!--table-->
                                        </div>
                                    </div>
                                </div>
                                <!-- -->
                            </div>
                        </div>
       </div>   
       <div class="sidenav-backdrop backdrop"></div>

</body>

</html>