<ngx-spinner></ngx-spinner>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>SAASHR | HR Admin Template | SAAS | Bootstrap</title>
    <!-- GLOBAL MAINLY STYLES-->
    <!-- <link href="./assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="./assets/css/themify-icons.css" rel="stylesheet" /> -->
    <!-- PLUGINS STYLES-->
    <!-- <link href="./assets/css/datatables.min.css" rel="stylesheet" /> -->
    <!-- THEME STYLES-->
    <!-- <link href="./assets/css/main.min.css" rel="stylesheet" /> -->
    <!-- PAGE LEVEL STYLES-->
</head>

<body class="fixed-navbar">
    <div class="page-wrapper">
           <app-header></app-header>


              <app-sidebar></app-sidebar>

                    <div class="content-wrapper">
                            <!-- START PAGE CONTENT-->
                            <div class="page-heading">
                                <h1 class="page-title">Show Salary Details</h1>
                            </div>
                            <div class="page-content fade-in-up">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ibox">
                                            <div class="ibox-head">
                                                <button  routerLink="/create-salaryslip" class="btn btn-primary fade-in-right">Add Fitment Details</button>
                                            </div>
                                             
                                            <div class="ibox-body">
                                                <table class="table table-striped table-bordered table-hover" id="example-table">
                                                    <thead>
                                                        <tr>
                                                            <th>Emp-Code</th>
                                                            <th>Name</th>
                                                            <th>Designation</th>
                                                            <th>Gross Salary</th>
                                                            
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let data of recentdata">
                                                            <td>{{data.emp_code}}</td>
                                                            <td>{{data.first_name}} {{data.last_name}}</td>
                                                            <td>{{data.desgn}}</td>
                                                            <td>{{data.gross_salary}}</td>
                                                            
                                                            <td>
                                                                    
                                                                <a  (click)="openDialog(data.sid)">
                                                                    <i class='fa fa-eye' style="font-size:24px"></i>
                                                                
                                                                </a> ||
                                                                <a (click)="openDialog1(data.sid)">
                                                                   
                                                            <i class='fas fa-edit' style="font-size:24px"></i>
                                                        </a>
                                                        ||
                                                            
                                                            <a (click)="delete_salary(data.sid)">
                                                                
                                                                    <i class='fa fa-trash'  style="font-size:24px"></i>
                                                                </a>
                                                            
                                                                        
                                                                </td>
                                                        </tr>
                                                      
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- -->
                            </div>
                        </div>
       </div>   
       <div class="sidenav-backdrop backdrop"></div>

</body>

</html>