<header class="header">
        <div class="page-brand">
            <a class="link" href="index.html"> <span class="brand">OMS
                </span> <span class="brand-mini">SHR</span>
            </a>
        </div>
        <div class="flexbox flex-1">
            <!-- START TOP-LEFT TOOLBAR-->
            <ul class="nav navbar-toolbar">
              
            </ul>
            <!-- END TOP-LEFT TOOLBAR-->
            <!-- START TOP-RIGHT TOOLBAR-->
            <ul class="nav navbar-toolbar">
                <li class="dropdown dropdown-inbox"> 
                    
                    <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media">
                      
                        <li class="list-group list-group-divider scroller" data-height="240px" data-color="#71808f">
                            <div>
                                <a class="list-group-item">
                                    <div class="media">
                                        <div class="media-img">
                                            <img src="assets/img/rak logo.png" />
                                        </div>
                                        <div class="media-body">
                                            <div class="font-strong"></div>Jeanne Gonzalez<small class="text-muted float-right">Just now</small>
                                            <div class="font-13">Your proposal interested me.</div>
                                        </div>
                                    </div>
                                </a>
                                <a class="list-group-item">
                                    <div class="media">
                                        <div class="media-img">
                                            <img src="./assets/img/rak logo.png" />
                                        </div>
                                        <div class="media-body">
                                            <div class="font-strong"></div>Becky Brooks<small class="text-muted float-right">18 mins</small>
                                            <div class="font-13">Lorem Ipsum is simply.</div>
                                        </div>
                                    </div>
                                </a>
                                <a class="list-group-item">
                                    <div class="media">
                                        <div class="media-img">
                                            <img src="assets/img/rak logo.png" />
                                        </div>
                                        <div class="media-body">
                                            <div class="font-strong"></div>Hendry Lon<small class="text-muted float-right">18 mins</small>
                                            <div class="font-13">Lorem Ipsum is simply.</div>
                                        </div>
                                    </div>
                                </a>
                                <a class="list-group-item">
                                    <div class="media">
                                        <div class="media-img">
                                            <img src="assets/img/rak logo.png" />
                                        </div>
                                        <div class="media-body">
                                            <div class="font-strong"></div>Rose Pearson<small class="text-muted float-right">3 hrs</small>
                                            <div class="font-13">Lorem Ipsum is simply.</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
                
                <li class="dropdown dropdown-user">
                    <a class="nav-link dropdown-toggle link" data-toggle="dropdown">
                        <img src="assets/img/img.png" alt=""/>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right"> 
                        <li>
                            <a href="#" routerLink="/profile"><i class="fa fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#" routerLink="/changepassword"><i class="fa fa-cog"></i> Change Password</a>
                        </li>
                        <li> 
                            <a (click)="_authService.logoutUser()"><i class="fa fa-power-off"></i> Logout</a> 
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- END TOP-  TOOLBAR-->
        </div>
    </header>