<nav class="page-sidebar" id="sidebar">
        <div id="sidebar-collapse">
            <div class="admin-block d-flex">
                <div>
                    <img src="./assets/img/a2.png" alt=""/>
                </div>
                <div class="admin-info">
                    <div class="font-strong">RAK SOFTECH</div>
                   <small><b>{{first_name}} {{last_name}}</b></small>
                   
                     <!-- <p><a href="login.html">Logout</a></p> -->
                </div>
            </div>
            <ul class="side-menu metismenu">
                   
                <li class="active"> <a href="#" routerLink="/dashboard"><i class="sidebar-item-icon fa fa-th-large"></i>
                        <span class="nav-label">Dashboard</span>
                    </a> 
                </li>

                <!-- <li *ngIf="designation==2" class="companymenuli"> <a href="javascript:;"><i class="sidebar-item-icon fa fa-id-badge"></i>
                    <span class="nav-label">Employees</span><i class="fa fa-angle-right arrow"></i></a>
                <ul class="nav-2-level collapse">
                   
                    <li>   <a href="#" routerLink="/showemp">Employee Details</a> 
                    </li>
                    
                </ul> 
            </li> -->
            <li *ngIf="designation==2 || designation==1"> <a href="#" routerLink="/showemp"><i class="sidebar-item-icon fa fa-table"></i>
                <span class="nav-label">Employees</span>
            </a> 
            </li>

            <!-- <li class="companymenuli"><a class="alisting">Product Categories  <b class="caret"></b></a>
                <ul class="submenu">
                    <li><a href="#" routerLink="/addemp" >Add Employee </a> </li>
                    <li><a href="#" routerLink="/showemp">Employee Details</a></li>
                    
                </ul>
            </li> -->
            <li class="companymenuli"> <a href="javascript:;"><i class="sidebar-item-icon fa fa-list"></i>
                <span class="nav-label">Attendance</span><i class="fa fa-angle-right arrow"></i></a>
            <ul class="nav-2-level collapse">
                <li> <a *ngIf="designation==2 || designation==3 || designation==4 || designation==5" (click)="addatt()">Add Attendance</a> 
                </li>
                <li> <a href="#"  *ngIf="designation==2 || designation==3 || designation==1" routerLink="/emp-attend">Employee Attendance</a> 
                </li>
            </ul>
        </li>


            <li class="companymenuli"> <a href="javascript:;"><i class="sidebar-item-icon fa fa-clipboard"></i>
                <span class="nav-label">Leave</span><i class="fa fa-angle-right arrow"></i></a>
            <ul class="nav-2-level collapse">
                <li *ngIf="designation==2 || designation==1"> <a href="#" routerLink="/showemp-leave">Leave Applications </a> 
                </li>
                <li *ngIf="designation==2 || designation==1"> <a href="#" routerLink="/empleave-details">Leave Details</a> 
                </li>
                <li> <a href="#" *ngIf="designation==2 || designation==3 || designation==4 || designation==5" routerLink="/applyleave">Apply Leave</a> 
                </li>
            </ul>
        </li>
        

    <!-- <li class="companymenuli" *ngIf="designation==4 || designation==1"> <a href="javascript:;"><i class="sidebar-item-icon fa fa-adjust"></i>
        <span class="nav-label">Enquiry</span><i class="fa fa-angle-right arrow"></i></a>
    <ul class="nav-2-level collapse">
        
        <li> <a href="#" routerLink="/add-enquiry">Add Enquiry</a> 
        </li>
       
    </ul>
</li> -->

<!-- <li class="companymenuli" *ngIf="designation==4"> <a href="javascript:;"><i class="sidebar-item-icon fa fa-map"></i>
    <span class="nav-label">Expense</span><i class="fa fa-angle-right arrow"></i></a>
<ul class="nav-2-level collapse">
    
    <li> <a href="#" routerLink="/add-expense">Add Expense</a> 
    </li>
    
    
</ul>
</li> -->

<li *ngIf="designation==2 || designation==3 || designation==4 || designation==5" class="companymenuli"> <a href="javascript:;"><i class="sidebar-item-icon fa fa-paste"></i>
        <span class="nav-label">Downloads</span><i class="fa fa-angle-right arrow"></i></a>
    <ul class="nav-2-level collapse">
        
        <li> <a href="#" routerLink="/salary-slip">Salary Slip</a> 
        </li>
        <li> <a href="#" routerLink="/form-sixteen">Form 16</a> 
        </li>
        
    </ul>
</li>

<li class="hover" *ngIf="designation==2"> <a href="#" routerLink="/add-location"><i class="sidebar-item-icon fa fa-th-large"></i>
    <span class="nav-label">Add Location</span>
    </a> 
</li>

<li class="hover" *ngIf="designation==2"> <a href="#" routerLink="/holiday-calender"><i class="sidebar-item-icon fa fa-th-large"></i>
    <span class="nav-label">Holiday Calender</span>
</a> 
</li>

<li> <a href="#" routerLink="/policy"><i class="sidebar-item-icon fa fa-table"></i>
    <span class="nav-label">Company Policies</span>
</a> 
</li>
<!-- <li *ngIf="designation==3"> <a href="#" routerLink="/create-policy"><i class="sidebar-item-icon fa fa-table"></i>
    <span class="nav-label">Add Policies</span>
</a> 
</li> -->
<li *ngIf="designation==3"> <a href="#" routerLink="/create-form16"><i class="sidebar-item-icon fa fa-table"></i>
    <span class="nav-label">Upload Form-16</span>
</a> 
</li>



<li *ngIf="designation==3" class="companymenuli"> <a href="javascript:;"><i class="sidebar-item-icon fa fa-paste"></i>
    <span class="nav-label">Salary</span><i class="fa fa-angle-right arrow"></i></a>
<ul class="nav-2-level collapse">
    
    <!-- <li> <a href="#" routerLink="/create-salaryslip">Add Fitment Details</a> 
    </li> generate-salary -->
    <li> <a href="#" routerLink="/show-salary">Fitment</a> 
    </li>
    
    <li> <a href="#" routerLink="/add-salary-sheet">SalarySheet</a> 
    </li>
    <li> <a href="#" routerLink="/history-salary">SalarySlip</a> 
    </li>
    
</ul>
</li>



<!-- <li> <i class="sidebar-item-icon fa fa-paste"></i><a href="#" routerLink="/policy">Company Policies</a> 
</li> -->
                <!-- <li> <a href="#" [routerLink]="['/addemp']"><i class="sidebar-item-icon fa fa-id-badge"></i>
                        <span class="nav-label">Add Employee</span>
                    </a>    
                </li>
                <li> <a href="#" routerLink="/showemp"><i class="sidebar-item-icon 	fa fa-list"></i>
                        <span class="nav-label">Employee Details</span>
                    </a> 
                </li>

                <li> <a href="#" routerLink="/showemp-leave"><i class="sidebar-item-icon fa fa-clipboard"></i>
                    <span class="nav-label">Leave Application</span>
                </a> 
            </li>

            <li> <a href="#" routerLink="/empleave-details"><i class="sidebar-item-icon fa fa-paste"></i>
                <span class="nav-label">Leave Details</span>
            </a> 
        </li>


                <li> <a href="#" routerLink="/attendance"><i class="sidebar-item-icon fa fa-table"></i>
                    <span class="nav-label">Add Attendance</span>
                </a> 
            </li>

            <li> <a href="#" routerLink="/applyleave"><i class="sidebar-item-icon fa fa-th"></i>
                <span class="nav-label">Apply Leave</span>
            </a> 
        </li>
         
        <li> <a href="#" routerLink="/salary-slip"><i class="sidebar-item-icon fa fa-arrows-alt"></i>
            <span class="nav-label">Salary Slip</span>
        </a> 
    </li>

    <li> <a href="#" routerLink="/form-sixteen"><i class="sidebar-item-icon fa fa-book"></i>
        <span class="nav-label">Form 16</span>
    </a> 
</li>

<li> <a href="#" routerLink="/policy"><i class="sidebar-item-icon fa fa-archive"></i>
    <span class="nav-label">Company Policies</span>
</a> 
</li> -->
                <!-- <li> <a href="javascript:;"><i class="sidebar-item-icon fa fa-id-card-o"></i>
                        <span class="nav-label">Dudy Doctors</span><i class="fa fa-angle-right arrow"></i></a>
                    <ul class="nav-2-level collapse">
                        <li> <a href="today-treatment.html">Today Treatment</a> 
                        </li>
                        <li> <a href="total-treatment.html">Total Treatment</a> 
                        </li>
                    </ul>
                </li> -->
                <!-- <li> <a href="javascript:;"><i class="sidebar-item-icon fa fa-handshake-o"></i>
                        <span class="nav-label">Appointments</span><i class="fa fa-angle-right arrow"></i></a>
                    <ul class="nav-2-level collapse">
                        <li> <a href="today-appointments.html">Today Appointments</a> 
                        </li>
                        <li> <a href="cancel-request.html">Cancel Request</a> 
                        </li>
                        <li> <a href="total-appontments.html">Total Appointments</a> 
                        </li>
                    </ul>
                </li> -->
                <!-- <li> <a href="javascript:;"><i class="sidebar-item-icon fa fa-podcast"></i>
                        <span class="nav-label">Staff Management</span><i class="fa fa-angle-right arrow"></i></a>
                    <ul class="nav-2-level collapse">
                        <li> <a href="staff.html">Staff</a> 
                        </li>
                        <li> <a href="attendance.html">Attendance</a> 
                        </li>
                        <li> <a href="leave.html">Leave Management</a> 
                        </li>
                        <li> <a href="holidays.html">Holidays</a> 
                        </li>
                    </ul>
                </li> -->
                <!-- <li> <a href="javascript:;"><i class="sidebar-item-icon fa fa-address-book"></i>
                        <span class="nav-label">Accounts</span><i class="fa fa-angle-right arrow"></i></a>
                    <ul class="nav-2-level collapse">
                        <li> <a href="charge-patients.html">Charge for Patient</a> 
                        </li>
                        <li> <a href="payments.html">Payments</a> 
                        </li>
                    </ul>
                </li> -->
                <!-- <li> <a href="javascript:;"><i class="sidebar-item-icon fa fa-newspaper-o"></i>
                            <span class="nav-label">Reports</span><i class="fa fa-angle-right arrow"></i></a>
                    <ul class="nav-2-level collapse">
                        <li> <a href="invoices.html">Invoices</a> 
                        </li>
                        <li> <a href="expenses.html">Expenses</a> 
                        </li>
                        <li> <a href="salary-slip.html">Salary Slip</a> 
                        </li>
                    </ul>
                </li> -->
                <!-- <li>
                    <a href="javascript:;"><i class="sidebar-item-icon fa fa-paint-brush"></i>
                        <span class="nav-label">Extra Pages</span><i class="fa fa-angle-right arrow"></i></a>
                    <ul class="nav-2-level collapse">
                        <li> <a href="login.html">Login</a>
                        </li>
                        <li> <a href="register.html">Register</a>
                        </li>
                        <li> <a href="forgot_password.html">Forgot Password</a>
                        </li>
                        <li> <a href="404.html">404 Page</a>
                        </li>
                    </ul>
                </li>    -->
            </ul>
        </div>
    </nav>