<ngx-spinner></ngx-spinner>
<h2 mat-dialog-title>Update Salary Details</h2>
<mat-dialog-content class="mat-typography">
<mat-dialog-actions align="end">
        <button mat-button mat-dialog-close class="btn btn-danger">X</button>
        
      </mat-dialog-actions>

      <form [formGroup]="registerform" (ngSubmit)="onSubmit()">
                                                            
    
 <div style="border-style: double;">
<div class="row">
    <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('basic').errors &&
    (registerform.get('basic').touched || registerform.get('basic').dirty)
  }">
        <label>Basic Pay</label>
        <input [(ngModel)]="basic" formControlName="basic" class="form-control" type="text">
        
        <span class="help-block" *ngIf="registerform.get('basic').errors &&
    (registerform.get('basic').touched || registerform.get('basic').dirty)">
      <span *ngIf="registerform.get('basic').errors.required" class="text-danger">Basic Pay is required</span>
      <span *ngIf="registerform.get('basic').errors.minlength || 
      registerform.get('basic').errors.pattern" class="text-danger">Basic Pay should be digit</span>
     
    </span>
   
  
    </div>

    <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('hra').errors &&
    (registerform.get('hra').touched || registerform.get('hra').dirty)
  }">
        <label>HRA</label>
        <input [(ngModel)]="hra" formControlName="hra" class="form-control" type="text">
        <span class="help-block" *ngIf="registerform.get('hra').errors &&
(registerform.get('hra').touched || registerform.get('hra').dirty)">
  <span *ngIf="registerform.get('hra').errors.required" class="text-danger">HRA is required</span>
  <span *ngIf="registerform.get('hra').errors.minlength || 
 registerform.get('hra').errors.pattern" class="text-danger">HRA should be digit</span>
</span>

    </div>
   
</div>    

<div class="row">
    <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('conveyance').errors &&
    (registerform.get('conveyance').touched || registerform.get('conveyance').dirty)
  }">
        <label>Conveyance</label>
        <input [(ngModel)]="conveyance" formControlName="conveyance" class="form-control" type="text">
        <span class="help-block" *ngIf="registerform.get('conveyance').errors &&
    (registerform.get('conveyance').touched || registerform.get('conveyance').dirty)">
      <span *ngIf="registerform.get('conveyance').errors.required" class="text-danger">Conveyance is required</span>
      <span *ngIf="registerform.get('conveyance').errors.minlength || 
      registerform.get('conveyance').errors.pattern" class="text-danger">Conveyance should be digit</span>
    </span>
   
    </div>

    <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('cea').errors &&
        (registerform.get('cea').touched || registerform.get('cea').dirty)
      }">
            <label>CEA</label>
            <input [(ngModel)]="cea" formControlName="cea" class="form-control" type="text">
            <span class="help-block" *ngIf="registerform.get('cea').errors &&
            (registerform.get('cea').touched || registerform.get('cea').dirty)">
              <span *ngIf="registerform.get('cea').errors.required" class="text-danger">CEA is required</span>
              <span *ngIf="registerform.get('cea').errors.minlength || 
              registerform.get('cea').errors.pattern" class="text-danger">CEA should be digit</span>
            </span>
          
        </div>
       
    </div>   
    
    <div class="row">
           
        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('lta').errors &&
        (registerform.get('lta').touched || registerform.get('lta').dirty)
      }">
            <label>LTA</label>
            <input [(ngModel)]="lta" formControlName="lta" class="form-control" type="text">
            <span class="help-block" *ngIf="registerform.get('lta').errors &&
            (registerform.get('lta').touched || registerform.get('lta').dirty)">
              <span *ngIf="registerform.get('lta').errors.required" class="text-danger">LTA is required</span>
              <span *ngIf="registerform.get('lta').errors.minlength || 
              registerform.get('lta').errors.pattern" class="text-danger">LTA should be digit</span>
            </span>
           
        </div>

        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('medical').errors &&
        (registerform.get('medical').touched || registerform.get('medical').dirty)
      }">
            <label>Medical</label>
            <input [(ngModel)]="medical" formControlName="medical" class="form-control" type="text">
            <span class="help-block" *ngIf="registerform.get('medical').errors &&
            (registerform.get('medical').touched || registerform.get('medical').dirty)">
              <span *ngIf="registerform.get('medical').errors.required" class="text-danger">Medical is required</span>
              <span *ngIf="registerform.get('medical').errors.minlength || 
              registerform.get('medical').errors.pattern" class="text-danger">Medical should be digit</span>
            </span>
      
        </div>
      </div>

       <div class="row">
        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('attire').errors &&
                        (registerform.get('attire').touched || registerform.get('attire').dirty)
                      }">
                            <label>Attire</label>
                            <input [(ngModel)]="attire" formControlName="attire" class="form-control" type="text">
                            <span class="help-block" *ngIf="registerform.get('attire').errors &&
                            (registerform.get('attire').touched || registerform.get('attire').dirty)">
                              <span *ngIf="registerform.get('attire').errors.required" class="text-danger">Attire is required</span>
                              <span *ngIf="registerform.get('attire').errors.minlength || 
                              registerform.get('attire').errors.pattern" class="text-danger">Attire should be digit</span>
                            </span>
                            
                        </div>
                        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('special').errors &&
                        (registerform.get('special').touched || registerform.get('special').dirty)
                      }">
                            <label>Special</label>
                            <input [(ngModel)]="special" formControlName="special" class="form-control" type="text">
                            <span class="help-block" *ngIf="registerform.get('special').errors &&
                            (registerform.get('special').touched || registerform.get('special').dirty)">
                              <span *ngIf="registerform.get('special').errors.required" class="text-danger">Special is required</span>
                              <span *ngIf="registerform.get('special').errors.minlength || 
                              registerform.get('special').errors.pattern" class="text-danger">Special should be digit</span>
                            </span>
                            
                        </div>
        </div> 
       
         <div class="row">
            <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('other').errors &&
            (registerform.get('other').touched || registerform.get('other').dirty)
          }">
                <label>Other</label>
                <input [(ngModel)]="other" formControlName="other" class="form-control" type="text">
                <span class="help-block" *ngIf="registerform.get('other').errors &&
            (registerform.get('other').touched || registerform.get('other').dirty)">
              <span *ngIf="registerform.get('other').errors.required" class="text-danger">Other is required</span>
              <span *ngIf="registerform.get('other').errors.minlength || 
              registerform.get('other').errors.pattern" class="text-danger">Other should be digit</span>
            </span>
           
            </div>

            <div class="col-sm-6 form-group">
                <label>Total Earning</label>
                <input readonly="" (click)="add()" value="{{(basic*1   +hra*1  +conveyance*1 +cea*1 +lta*1 +medical*1
                  +attire*1 +special*1 +other*1) || 0}}" class="form-control" type="text">
               
            </div>

           
                          </div> 

                          <br/>
                          <hr/>
                          
                         

            
                         <div class="row">
                          <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('gross_salary').errors &&
                          (registerform.get('gross_salary').touched || registerform.get('gross_salary').dirty)
                        }">
                            <label>Gross Salary</label>
                            <input  formControlName="gross_salary" [(ngModel)]="gross_salary" (change)="selectgross($event.target.value)"  class="form-control" type="text">
                            <span class="help-block" *ngIf="registerform.get('gross_salary').errors &&
                            (registerform.get('gross_salary').touched || registerform.get('gross_salary').dirty)">
                              <span *ngIf="registerform.get('gross_salary').errors.required" class="text-danger">Gross Salary is required</span>
                              <span *ngIf="registerform.get('gross_salary').errors.minlength || 
                              registerform.get('gross_salary').errors.pattern" class="text-danger">Gross Salary should be digit</span>
                            </span>
                           
                        </div>

                        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('pt').errors &&
                        (registerform.get('pt').touched || registerform.get('pt').dirty)
                      }">
                            <label>PT</label>
                            <input [(ngModel)]="pt" formControlName="pt" class="form-control" type="text">
                            <span class="help-block" *ngIf="registerform.get('pt').errors &&
                        (registerform.get('pt').touched || registerform.get('pt').dirty)">
                          <span *ngIf="registerform.get('pt').errors.required" class="text-danger">PT is required</span>
                          <span *ngIf="registerform.get('pt').errors.minlength || 
                        registerform.get('pt').errors.pattern" class="text-danger">PT should be digit</span>
                        </span>
                        </div>   
                            
                          </div>

                          <div class="row">
                            
    
    <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('epf').errors &&
                (registerform.get('epf').touched || registerform.get('epf').dirty)
              }">
                    <label>P.F.Cont.</label>
                    <input [(ngModel)]="epf" formControlName="epf" class="form-control" type="text">
                    <span class="help-block" *ngIf="registerform.get('epf').errors &&
                    (registerform.get('epf').touched || registerform.get('epf').dirty)">
                      <span *ngIf="registerform.get('epf').errors.required" class="text-danger">P.F.Cont. is required</span>
                      <span *ngIf="registerform.get('epf').errors.minlength || 
                      registerform.get('epf').errors.pattern" class="text-danger">P.F.Cont. should be digit</span>
                    </span>
                </div>
                
                <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('net_salary').errors &&
                (registerform.get('net_salary').touched || registerform.get('net_salary').dirty)
              }">
                    <label>Total Deduction</label>
                    <input readonly="" value="{{pt*1 + epf*1 || 0}}" class="form-control" type="text">
                    
                </div>
                
                
            </div>

            <div class="row">
              <div class="col-sm-6 form-group">
                    <label>Net Salary</label>
                    <input readonly="" formControlName="net_salary" value="{{(basic*1   +hra*1  +conveyance*1 +cea*1 +lta*1 +medical*1
                      +attire*1 +special*1 +other*1)-(pt*1 + epf*1)|| 0}}" class="form-control" type="text">
                    
                </div>
            </div>
   </div> 
    <div class="form-group">
       <button [disabled]="!registerform.valid" class="btn btn-primary">Submit</button>
      
    </div>
</form>
</mat-dialog-content>
