<ngx-spinner></ngx-spinner>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>SAASHR | HR Admin Template | SAAS | Bootstrap</title>
    <!-- GLOBAL MAINLY STYLES-->
    <!-- <link href="./assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="./assets/css/themify-icons.css" rel="stylesheet" /> -->
    <!-- PLUGINS STYLES-->
    <!-- <link href="./assets/css/datatables.min.css" rel="stylesheet" /> -->
    <!-- THEME STYLES-->
    <!-- <link href="./assets/css/main.min.css" rel="stylesheet" /> -->
    <!-- PAGE LEVEL STYLES-->
</head>

<body class="fixed-navbar">
    <div class="page-wrapper">
            <app-header></app-header>


             <app-sidebar></app-sidebar>

                    <div class="content-wrapper">
                            <!-- START PAGE CONTENT-->
                            <div class="page-heading">
                                <h1 class="page-title">Salary Slip</h1>
                            </div>
                            <div class="page-content fade-in-up">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ibox">
                                            <div class="ibox-head">
                                                
                                                  <div class="col-lg-10">
                                                            <form [formGroup]="registerform" (ngSubmit)="onsubmit()">
                                                                <div class="row">
                                                                    

                                                                    <div class="col-sm-3 form-group">
                                                                        <label>Year</label>
                                                                    <select class="form-control" formControlName="year"> 
                                                                      <option value="">--Select Year--</option>
                                                                      <option *ngFor="let data of getyear" value="{{data.year}}">{{data.year}}</option>
                                                                      
                                                                      </select>   
                                                                    </div>

                                                                    <div class="col-sm-3 form-group">
                                                                      <label>Month</label>
                                                          <select class="form-control " formControlName="month"> 
                                                                  <option value="">--Select Month--</option>
                                                                  <option *ngFor="let data of recentdata" value="{{data.month}}">{{data.to_char}}</option>
                                                                 
                                                                  </select> 
                                                                  </div>
                                                                 
                                                                  
                                                    
                                                                  <div class="col-sm-3 form-group"><br/>
                                                                  <button [disabled]="!registerform.valid" class="btn btn-link">View & Download</button>
                                                                  
                                                                </div>
                                                              </div>
                                                                </form>
                                                            
                                                  </div>
                                                            
                                                </div>
                                                
                                                
                                           
                                           
                                        </div>
                                    </div>
                                </div>
                                <!--salary slip-->
                                <div class="row" id="contentToConvert" *ngIf="!emp_code==''">
                                        <div class="col-lg-12">
                                            <div class="ibox">
                                                <button  style="margin-left:94%;margin-top:1%;" type="button" class="btn btn-primary" value="Export To PDF" (click)="ConvertPDFWithWholepage()"><i class="fa fa-download" aria-hidden="true"></i></button>
                                                
                                                <div class="ibox-body">
                                                  <div style="border:3px solid black" > 
                                                    <br/>
                                                    <div>
                                                    <div style="text-align:center"><h5><b>RAK SOFTECH PRIVATE LIMITED</b></h5> 
                                                      
                                                      <h6>Payslip <br/>{{month_name}}-{{year}}<br/>{{first_name}} {{last_name}}</h6>
                                                    </div>
                                                  <table  style="width:96%;margin-left:2%;border:1px solid black">
  
                                                    <tr>
                                                      <td style="width:14%;border:0">Employee Number</td>
                                                      <td style="border:0">{{emp_code}}</td>
                                                     
                                                    </tr>
                                                    <tr>
                                                      <td style="border:0">Function</td>
                                                     
                                                    </tr>
                                                    <tr>
                                                      <td style="border:0">Designation</td>
                                                      <td style="border:0">{{desgn}}</td>
                                                      
                                                    </tr>
                                                    <tr>
                                                      <td style="border:0">Location</td>
                                                      <td style="border:0">M&ML, Pune</td>
                                                      
                                                    </tr>
                                                    <tr>
                                                      <td style="border:0">Bank Details</td>
                                                      
                                                    </tr>
                                                  </table>
                                                  <br/>
                                                    <table style="width:96%;margin-left:2%" >
                                                            <tr>
                                                              <th>Attendece Details</th>
                                                              <th style="text-align:center">Value</th> 
                                                              <th></th>
                                                              <th style="text-align:center">Value</th>
                                                            </tr>
                                                            <tr>
                                                              <td style="width:38%">Present</td>
                                                              <td style="text-align:right;width:16%">{{payble_days}}</td>
                                                              <td style="text-align:left">Leave with Pay</td>
                                                              <td style="text-align:right">{{(sl*1 +cl*1)}}</td>
                                                            </tr>
                                                            <tr>
                                                              <td>Weekly Off
                                                                </td>
                                                              <td style="text-align:right">{{weekly_off}}</td>
                                                              <td style="text-align:left">Leave without Pay</td>
                                                              <td style="text-align:right">{{lwp}}</td>
                                                            </tr>
                                                            <tr>
                                                              <td></td>
                                                              <td style="text-align:right"></td>
                                                              <td style="text-align:left">Holiday</td>
                                                              <td style="text-align:right">{{holidays}}</td>
                                                            </tr>
                                                          </table>
<br/>
                                                          <table style="width:96%;margin-left:2%" >
                                                                <tr>
                                                                  <th>Earnings</th>
                                                                  <th style="text-align:center">Amount</th> 
                                                                  <th >Deductions</th>
                                                                  <th style="text-align:center">Amounts</th>
                                                                </tr>
                                                                <tr>
                                                                  <td style="width:38%">Basic Pay</td>
                                                                  <td style="text-align:right;width:16%">{{basic}}</td>
                                                                  <td style="text-align:left">Prof. Tax</td>
                                                                  <td style="text-align:right">{{pt}}</td>
                                                                </tr>
                                                                <tr>
                                                                  <td>HRA
                                                                    </td>
                                                                  <td style="text-align:right">{{hr}}</td>
                                                                  <td style="text-align:left">ESIC</td>
                                                                  <td style="text-align:right">{{esic}}</td>
                                                                </tr>
                                                                <tr>
                                                                  <td>Conveyance Allowance/Vehicale Reimbursement</td>
                                                                  <td style="text-align:right">{{conveyance}}</td>
                                                                  <td style="text-align:left"> P. F. Cont.</td>
                                                                  <td style="text-align:right">{{epf}}</td>
                                                                </tr>
                                                                <tr>
                                                                  <td>Child Education Allowance</td>
                                                                  <td style="text-align:right">{{cea}}</td>
                                                                  <td style="text-align:left">TDS</td>
                                                                  <td style="text-align:right">{{tds}}</td>
                                                                </tr>
                                                                <tr>
                                                                  <td>LTA</td>
                                                                  <td style="text-align:right">{{lta}}</td>
                                                                  <td style="text-align:left">Advance/ Other Deductions</td>
                                                                  <td style="text-align:right">{{advance}}</td>
                                                                </tr>
                                                                <tr>
                                                                  <td>Medical Allowances</td>
                                                                  <td style="text-align:right">{{medical}}</td>
                                                                  <td style="text-align:left"></td>
                                                                  <td style="text-align:right"></td>
                                                                </tr>
                                                                <tr>
                                                                  <td>Attire Reimbursement 
                                                                  </td>
                                                                  <td style="text-align:right">{{attire}}</td>
                                                                  <td style="text-align:left"></td>
                                                                  <td style="text-align:right"></td>
                                                                </tr>
                                                                <tr>
                                                                  <td>Sepecial Allowances
 
                                                                  </td>
                                                                  <td style="text-align:right">{{special}}</td>
                                                                  <td style="text-align:left"></td>
                                                                  <td style="text-align:right"></td>
                                                                </tr>
                                                               
                                                                <tr>
                                                                  <td>Other Allowances

 
                                                                  </td>
                                                                  <td style="text-align:right">{{other}}</td>
                                                                  <td style="text-align:left"></td>
                                                                  <td style="text-align:right"></td>
                                                                </tr>
                                                                <tr>
                                                                  <td><b>Total Earning</b></td>
                                                                  <td style="text-align:right"><b>{{gross_salary}}</b></td>
                                                                  <td style="text-align:left"><b>Total Deductions</b></td>
                                                                  <td style="text-align:right"><b>{{total_deduction}}</b></td>
                                                                </tr>
                                                                <tr>
                                                                  <td>

 
                                                                  </td>
                                                                  <td style="text-align:right"></td>
                                                                  <td style="text-align:left"><b>Net Salary</b></td>
                                                                  <td style="text-align:right"><b>{{net_salary}}</b></td>
                                                                </tr>
                                                              </table>
                                                             <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Note : This Being a Computer generated payslip, No signatures required</p>
                                                            </div>
                                                            </div>
                                                </div>
                                                <!--pdf-->
                                                
                                                
                                                <!--df-->
                                               
                                            </div>
                                        </div>
                                        
                                    </div>
                                <!--salary slip-->
                                <!--img-->
                                
                               
                                <!--img-->
                            </div>
                        </div>
       </div>   
       <div class="sidenav-backdrop backdrop"></div>

</body>

</html>