<ngx-spinner></ngx-spinner>
<!DOCTYPE html>
<html>



<body class="bg-silver-300" style="margin-top:0%;">
       
    <div class="content" style="margin-top:12%">
          
        <form [formGroup]="loginform" (ngSubmit)="onSubmit()">
            <h2 class="login-title">Log in</h2>
            <div class="form-group">
                <div class="input-group-icon right">
                    <div class="input-icon" [ngClass]="{'has-error':loginform.get('username').errors &&
                    (loginform.get('username').touched || loginform.get('username').dirty)
                  }"><i class="fa fa-envelope"></i></div>
                    <input class="form-control" formControlName="username"  type="text" name="username" placeholder="Username" autocomplete="off">
                </div>
                <span class="help-block" *ngIf="loginform.get('username').errors &&
              (loginform.get('username').touched || loginform.get('username').dirty)">
                <span *ngIf="loginform.get('username').errors.required" class="text-danger">Username Id is required</span>
              </span>
              <!-- <span class="help-block" *ngIf="loginform.get('username').errors &&
              (loginform.get('username').touched || loginform.get('username').dirty)">
                <span *ngIf="loginform.get('username').errors.email" class="text-danger">Email must be a valid email address</span>
              </span> -->
            </div>
            <div class="form-group">
                <div class="input-group-icon right" [ngClass]="{'has-error':loginform.get('password').errors &&
                (loginform.get('password').touched || loginform.get('password').dirty)
              }">
                    <div class="input-icon"><i class="fa fa-lock font-16"></i></div>
                    <input class="form-control" formControlName="password" type="password" name="password" placeholder="Password">
                </div>
                <span class="help-block" *ngIf="loginform.get('password').errors &&
                (loginform.get('password').touched || loginform.get('password').dirty)">
                  <span *ngIf="loginform.get('password').errors.required" class="text-danger">Password is required</span>
                </span>
            </div>
            <div class="form-group d-flex justify-content-between">
                <!-- <label class="ui-checkbox ui-checkbox-info">
                    <input type="checkbox">
                    <span class="input-span"></span>Remember me</label> -->
                    <button type="button" class="btn btn-link" (click)="forget()">Forgot password?
                      
                    </button>
                
            </div>
            <div class="form-group">
                <button [disabled]="!loginform.valid"  class="btn btn-info btn-block" type="submit">Login</button>
               
            </div>
            <!-- <div class="social-auth-hr">
                <span>Or login with</span>
            </div> -->
            <!-- <div class="text-center">Not a member?
                <a class="color-blue" href="register.html">Create account</a>
            </div> -->
        </form>
    </div>
    <!-- BEGIN PAGA BACKDROPS-->
    <div class="sidenav-backdrop backdrop"></div>
    <br/><br/><br/><br/><br/>
   
    <!-- END PAGA BACKDROPS-->
    <!-- CORE PLUGINS -->
    

</body>

</html>