<ngx-spinner></ngx-spinner>
<!DOCTYPE html>
<html lang="en">

<head>
 
</head>

<body class="fixed-navbar">
    <div class="page-wrapper">
        <!-- START HEADER-->
       <app-header></app-header>
        <!-- END HEADER-->
        <!-- START SIDEBAR-->
        <app-sidebar></app-sidebar>
        <!-- END SIDEBAR-->
        <div class="content-wrapper">
                <div class="page-heading">
                        <h1 class="page-title">Leave Management</h1>
                    </div>

                    <div class="page-content fade-in-up">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="ibox">
                                        <div class="ibox-head">
                                            <div class="ibox-title">Apply Leave</div>
                                            <div class="ibox-tools"> <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                                            </div>
                                        </div>
                                        <div class="ibox-body">
                                            <form [formGroup]="registerform" (ngSubmit)="onSubmit()"> 
                                               
                                                <div class="row">
                                                    <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('from_date').errors &&
                                                    (registerform.get('from_date').touched || registerform.get('from_date').dirty)
                                                  }">
                                                        <label>From Date</label>
                                                        <input class="form-control" formControlName="from_date" type="date" placeholder="John Hendry">
                                                        <span class="help-block" *ngIf="registerform.get('from_date').errors &&
                                                        (registerform.get('from_date').touched || registerform.get('from_date').dirty)">
                                                          <span *ngIf="registerform.get('from_date').errors.required" class="text-danger">This Field is required</span>
                                                        </span>
                                                    </div>
                                                    <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('to_date').errors &&
                                                    (registerform.get('to_date').touched || registerform.get('to_date').dirty)
                                                  }">
                                                        <label>To Date</label>
                                                        <input class="form-control" formControlName="to_date" type="date" placeholder="+44 8917197556">
                                                        <span class="help-block" *ngIf="registerform.get('to_date').errors &&
                                                        (registerform.get('to_date').touched || registerform.get('to_date').dirty)">
                                                          <span *ngIf="registerform.get('to_date').errors.required" class="text-danger">This Field is required</span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="form-group" [ngClass]="{'has-error':registerform.get('type').errors &&
                                                (registerform.get('type').touched || registerform.get('type').dirty)
                                              }">
                                                    <label>Type</label>
                                                    <select formControlName="type" class="form-control select2_demo_1">
                                                            <option value="">--Select Any--</option>
                                                        <option value="SL">Sick Leave</option>
                                                        <option value="CL">Casual Leave</option>
                                                       
                                                    </select>
                                                    <span class="help-block" *ngIf="registerform.get('type').errors &&
                                                        (registerform.get('type').touched || registerform.get('type').dirty)">
                                                          <span *ngIf="registerform.get('type').errors.required" class="text-danger">This Field is required</span>
                                                        </span>
                                                </div>
                                                <div class="form-group" [ngClass]="{'has-error':registerform.get('reason').errors &&
                                                (registerform.get('reason').touched || registerform.get('reason').dirty)
                                              }">
                                                    <label>Reason</label>
                                                    <input formControlName="reason" class="form-control" type="text" placeholder="Reason">
                                                    <span class="help-block" *ngIf="registerform.get('reason').errors &&
                                                    (registerform.get('reason').touched || registerform.get('reason').dirty)">
                                                      <span *ngIf="registerform.get('reason').errors.required" class="text-danger">This Field is required</span>
                                                    </span>
                                                </div>
                                                <div class="form-group">
                                                    <button class="btn btn-default" [disabled]="!registerform.valid" >Apply Leave</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                        <div class="ibox">
                                       
                                                <div class="ibox-head">
                                                    <div class="ibox-title">Leave Details</div>
                                                    <div class="ibox-tools"> <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                                                    </div>
                                                </div>
                                                <div class="ibox-body">
                                                    <table class="table table-striped table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Leave</th>
                                                                <th>Sick Leave</th>
                                                                <th>Casual Leave</th>
                                                                <th>LWP</th>
                                                                <th>Total</th>
                                                                
                                                            </tr>
                                                        </thead>
                                                        <tbody  *ngFor="let data of recentdata">
                                                            <tr >
                                                                <td>Taken</td>
                                                                <td>{{data.sl_taken}}</td>
                                                                <td>{{data.cl_taken}}</td>
                                                                <td>0</td>
                                                                <td>
                                                                    {{(+data.sl_taken)  + (+data.cl_taken)}}
                                                                </td>
                                                               
                                                                
                                                            </tr>
                                                           
                                                            <tr>
                                                                    <td>Balance</td>
                                                                    <td>{{data.sl_balance}}</td>
                                                                    <td>{{data.cl_balance}}</td>
                                                                    <td>0</td>
                                                                    <td>
                                                                        {{(+data.sl_balance)  + (+data.cl_balance)}}
                                                                    </td>
                                                                   
                                                                    
                                                                </tr>
                                                          
                                                         
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                    <div class="ibox">
                                       
                                        <div class="ibox-head">
                                            <div class="ibox-title">Leave Application Details</div>
                                            <div class="ibox-tools"> <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                                            </div>
                                        </div>
                                        <div class="ibox-body">
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        
                                                        <th>From Date</th>
                                                        <th>To Date</th>
                                                        <th>Days No.</th>
                                                        <th>Reason</th>
                                                        <th>Type</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of showleave">
                                                        
                                                        <td>{{item.from_date}}</td>
                                                        <td>{{item.to_date}}</td>
                                                        <td>{{item.total_days}}</td>
                                                        <td>{{item.reason}}</td>
                                                        <td>{{item.type}}</td>
                                                        <td>{{item.status}}</td>
                                                        
                                                    </tr>
                                                   
                                                  
                                                  
                                                 
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                 
                            </div>
                        </div>
            </div>
        <!-- END PAGE CONTENT-->
        <!-- BEGIN PAGA BACKDROPS-->
        <div class="sidenav-backdrop backdrop"></div>
        
        <!-- END PAGA BACKDROPS-->
        <!-- CORE PLUGINS-->
</div>
</body>

</html>