<ngx-spinner></ngx-spinner>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
   
</head>

<body class="fixed-navbar">
    <div class="page-wrapper">
            <app-header></app-header>
         <app-sidebar></app-sidebar>

         <div class="content-wrapper">
             <!-- START PAGE CONTENT-->
            <div class="page-heading">
                    <h1 class="page-title">Today's Attendance </h1>
                </div>
               
                <div class="page-content fade-in-up">
                    
                        <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-6 col-lg-12">
                                    <div class="ibox-card-body">
                                        <div class="img-circle m-r-10 pull-left">
                                            <a href="profile.html" class="avatar"><img src="assets/img/a2.png" alt=""></a>
                                        </div>
                                        <div class="ibox-tools pull-right">
                                           
                                        </div>
                                        <div class="page-title">
                                        <h4>Hello {{first_name}} {{last_name}}</h4>
                                        </div>
                                       
                                        <div class="user-id">
                                            <div>Date:{{today | date:'fullDate'}}</div>
                                            <i class="fa fa-clock-o"></i> Time:{{ now | date:'hh:mm:ss a'}}
                                        </div>
                                        
                                        <form [formGroup]="registerform">
                                        <div class="user-assign">
                                                <a  *ngIf="show"><button class="btn btn-info btn-rounded m-b-5" (click)="showchekin()">Check In</button></a><br/><br/>
                                      
                                                <div *ngIf="hide">
                                        
                                         <textarea formControlName="activity" rows="4" cols="50" class="col-sm-6-group" placeholder="Enter Your's Today Work Here.."></textarea><br/>
                                                
                                                <a><button class="btn btn-info btn-rounded m-b-5" [disabled]="!registerform.valid" (click)="showchekout()">Check Out</button></a><br/>
                                                
                                            </div>
                                        </div>
                                         

                                       
                                    </form>

                                    
                                    </div>
                                </div>
                                
                               
                            </div>
                           <!--table-->
                           <div class="page-content fade-in-up">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ibox">
                                            <div class="ibox-head">
                                                <div class="ibox-title">Attendance Details</div>
                                            </div>
                                            <div class="ibox-body">
                                                <table class="table table-striped table-bordered table-hover" id="example-table">
                                                    <thead>
                                                        <tr>
                                                           
                                                            <th>Date</th>
                                                            <th>Check In</th>
                                                            <th>Check Out</th>
                                                            <th>Activity</th>
                                                            <th>Presenty_Mark</th>
                                                            <th>Hours/Minute</th>
                                                            
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let data of getvalue">
                                                            
                                                            <td>{{data.date}}</td>
                                                            <td>{{data.check_in}}</td>
                                                            <td>{{data.check_out}}</td>
                                                            <td>{{data.activity}}</td>
                                                            <td>{{data.attendance}}</td>
                                                            <td>{{data.worked_hours}}</td>
                                                           
                                                        </tr>
                                                       
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                          
                                        </div>
                                    </div>
                                </div>
                                <!-- --> 
                            </div>
                           <!--table-->
                    </div>

             </div>

           
            
  </div>

   <!-- BEGIN PAGA BACKDROPS-->
   <div class="sidenav-backdrop backdrop"></div>
</body>

</html>