<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>SAASHR | HR Admin Template | SAAS | Bootstrap</title>
    <!-- GLOBAL MAINLY STYLES-->
    <!-- <link href="./assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="./assets/css/themify-icons.css" rel="stylesheet" /> -->
    <!-- PLUGINS STYLES-->
    <!-- <link href="./assets/css/datatables.min.css" rel="stylesheet" /> -->
    <!-- THEME STYLES-->
    <!-- <link href="./assets/css/main.min.css" rel="stylesheet" /> -->
    <!-- PAGE LEVEL STYLES-->
</head>

<body class="fixed-navbar">
    <div class="page-wrapper">
           <app-header></app-header>


              <app-sidebar></app-sidebar>

                    <div class="content-wrapper">
                            <!-- START PAGE CONTENT-->
                            <div class="page-heading">
                                <!-- <h1 class="page-title">Create & Send Salary Slip</h1> -->
                            </div>
                            <div class="page-content fade-in-up">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ibox">
                                            <div class="ibox-head">
                                               
                                                
                                            </div>
                                            <!-- <div class="ibox-body">
                                                <form [formGroup]="registerform" (ngSubmit)="onSubmit()">
                                                                
                                                        <div style="border-style: double;">
                                                                        <div class="row">
                                                                <div class="col-sm-5 form-group">
                                                                                <label>Month</label>
                                                                                <select name="month" formControlName="monthName" class="form-control" >
                                                                                     <option value="">--Select Month--</option>
                                                                                     <option *ngFor="let month of months" [ngValue]="month.id">
                                                                                                {{month.name}}
                                                                                              </option>
                                                                                </select>
                                                              </div>
                                                              <div class="col-sm-5 form-group">
                                                                        <label>Year</label>

                                                                        <select name="year" formControlName="year" class="form-control" >
                                                                             <option value="">--Select Year--</option>
                                                                             <option *ngFor="let year of years" [ngValue]="year">
                                                                                        {{year}}
                                                                                      </option>
                                                                        </select>
                                                                        
                                                      </div>
                                                      <div class="col-sm-2 form-group">
                                                              <br/>
                                                                <button [disabled]="!registerform.valid" class="btn btn-primary">Create Salary Slip</button>
                                                               
                                                             </div>
                                                                    </div>
                                                                </div>
                                                </form>
                                            </div> -->

                                            <div class="ibox-body"> 
                                                <!-- <br/>  Check All: <input type="checkbox" [(ngModel)]="selectedAll" (change)="selectAll();">
                                              &nbsp; &nbsp; &nbsp;  <button class="btn btn-primary" (click)="send()">Send Salary Slip</button> -->
                                                          
                                              <div class="col-lg-12 table-responsive" #TABLE #table>  
                                                <div style="padding-bottom: 10px;padding-top: 10px;">  
                                                  <div class="row">  
                                                    <div class="col-sm-12">  
                                                      <button (click)="ExportTOExcel()" class="btn btn-success"><i class="fa fa-file-excel-o"></i>ExportTOExcel</button> </div>  
                                                  </div>  
                                                </div>  
                                                <table class="table table-bordered">  
                                                  <thead class="thead-dark">  
                                                    <tr>  
                                                        <th>Emp_Code</th>
                                                        <th>Name</th>
                                                        <th>Designation</th>
                                                        <th>Casual Leave</th>
                                                        <th>Leave without Pay</th>
                                                        <th>Payable Days</th>
                                                        <th>Basic</th>
                                                        <th>HRA</th>
                                                        <th>Conv Allow/VEHICLE REIMB</th>
                                                        <th>Child Education Allow</th>
                                                        <th>LTA Monthly</th>
                                                        <th>Medical Monthly</th>
                                                        <th>Attire Reimb</th>
                                                        <th>Sp.All</th>
                                                        <th>Other Allow</th>
                                                        <th>Gross Amount</th>
                                                        <th>Prof.Tax</th>
                                                        <th>ESIC</th>
                                                        <th>P. F. Cont.</th>
                                                        <th>TDS</th>
                                                        <th>Advance</th>
                                                        <th>Total Ded</th>
                                                        <th>Net Amt</th>
                                                    </tr>  
                                                  </thead>  
                                                  <tbody>  
                                                    <tr *ngFor="let data of recentdata">
                                
                                                        <td>{{data.emp_code}}</td>
                                                        <td>{{data.first_name}} {{data.last_name}}</td>
                                                        <td>{{data.desgn}}</td>
                                                        <td>{{data.cl}}</td>
                                                        <td>{{data.lwp}}</td>
                                                        <td>{{data.payble_days}}</td>
                                                        <td>{{data.basic}}</td>
                                                        <td>{{data.hra}}</td>
                                                        <td>{{data.conveyance}}</td>
                                                        <td>{{data.cea}}</td>
                                                        <td>{{data.lta}}</td>
                                                        <td>{{data.medical}}</td>
                                                        <td>{{data.attire}}</td>
                                                        <td>{{data.special}}</td>
                                                        <td>{{data.other}}</td>
                                                        <td>{{data.gross_salary}}</td>
                                                        <td>{{data.pt}}</td>
                                                        <td>{{data.esic}}</td>
                                                        <td>{{data.epf}}</td>
                                                        <td>{{data.tds}}</td>
                                                        <td>{{data.advance}}</td>
                                                        <td>{{data.total_deduction}}</td>
                                                        <td>{{data.net_salary}}</td>

                                                    </tr>

                                                    
                                                  </tbody>  
                                                </table>  
                                              </div>  
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- -->
                            </div>
                        </div>
       </div>   
       <div class="sidenav-backdrop backdrop"></div>

</body>

</html>