<h2 mat-dialog-title>Update Salary Slip</h2>
<mat-dialog-content class="mat-typography">
<mat-dialog-actions align="end">
        <button mat-button mat-dialog-close class="btn btn-danger">X</button>
        
      </mat-dialog-actions>

     
                                 
        <form [formGroup]="registerform" (ngSubmit)="onSubmit()">

            <div class="row">
                <div class="col-sm-6 form-group" >
                    <label>Name</label>
                    <input readonly="" value="{{first_name}} {{last_name}}"  class="form-control" type="text">
                   
                </div>
                <div class="col-sm-6 form-group" >
                    <label>Designation</label>
                    <input readonly="" value="{{desgn}}" class="form-control" type="text">
                    
                </div>
               
            </div> 
            
            <div class="row">
                           
                    <div class="col-sm-6 form-group" >
                        <label>Month</label>
                        <input readonly=""  value="{{month}}"   class="form-control" type="text">
                      
                    </div>

                    <div class="col-sm-6 form-group" >
                        <label>Year</label>
                        <input value="{{year}}" readonly=""   class="form-control" type="text">
                      
                    </div>

                   
                  </div>

                  <div class="row">
                         
                    <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('basic').errors &&
                    (registerform.get('basic').touched || registerform.get('basic').dirty)
                  }">
                        <label>Basic Pay</label>
                        <input [(ngModel)]="basic" formControlName="basic" class="form-control" type="text">
                        
                        <span class="help-block" *ngIf="registerform.get('basic').errors &&
                    (registerform.get('basic').touched || registerform.get('basic').dirty)">
                      <span *ngIf="registerform.get('basic').errors.required" class="text-danger">Basic Pay is required</span>
                    </span>
                    </div>

                    <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('hra').errors &&
                    (registerform.get('hra').touched || registerform.get('hra').dirty)
                  }">
                            <label>HRA</label>
                            <input formControlName="hra" [(ngModel)]="hra"  class="form-control" type="text">
                            <span class="help-block" *ngIf="registerform.get('hra').errors &&
                            (registerform.get('hra').touched || registerform.get('hra').dirty)">
                              <span *ngIf="registerform.get('hra').errors.required" class="text-danger">Basic Pay is required</span>
                            </span>
                        </div>
                 </div>


                 <div class="row">
                         
                    <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('conveyance').errors &&
                    (registerform.get('conveyance').touched || registerform.get('conveyance').dirty)
                  }">
                  <label> Conveyance</label>
                  <input formControlName="conveyance" [(ngModel)]="conveyance" class="form-control" type="text">
                   
                        <span class="help-block" *ngIf="registerform.get('conveyance').errors &&
                    (registerform.get('conveyance').touched || registerform.get('conveyance').dirty)">
                      <span *ngIf="registerform.get('conveyance').errors.required" class="text-danger">Basic Pay is required</span>
                    </span>
                    </div>

                    <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('cea').errors &&
                    (registerform.get('cea').touched || registerform.get('cea').dirty)
                  }">
                  <label>CEA</label>
                  <input formControlName="cea" [(ngModel)]="cea" class="form-control" type="text">
                  
                            <span class="help-block" *ngIf="registerform.get('cea').errors &&
                            (registerform.get('cea').touched || registerform.get('cea').dirty)">
                              <span *ngIf="registerform.get('cea').errors.required" class="text-danger">Basic Pay is required</span>
                            </span>
                        </div>
                 </div>

                 <div class="row">
                         
                        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('lta').errors &&
                        (registerform.get('lta').touched || registerform.get('lta').dirty)
                      }">
                      <label>LTA</label>
                        <input formControlName="lta" [(ngModel)]="lta" class="form-control" type="text">
                        
                            <span class="help-block" *ngIf="registerform.get('lta').errors &&
                        (registerform.get('lta').touched || registerform.get('lta').dirty)">
                          <span *ngIf="registerform.get('lta').errors.required" class="text-danger">Basic Pay is required</span>
                        </span>
                        </div>
    
                        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('medical').errors &&
                        (registerform.get('medical').touched || registerform.get('medical').dirty)
                      }">
                      <label>Medical Allowances</label>
                        <input  formControlName="medical" [(ngModel)]="medical"  class="form-control" type="text">
                        
                                <span class="help-block" *ngIf="registerform.get('medical').errors &&
                                (registerform.get('medical').touched || registerform.get('medical').dirty)">
                                  <span *ngIf="registerform.get('medical').errors.required" class="text-danger">Basic Pay is required</span>
                                </span>
                            </div>
                     </div>

                     <div class="row">
                         
                            <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('attire').errors &&
                            (registerform.get('attire').touched || registerform.get('attire').dirty)
                          }">
                          <label>Attire Reimbursement</label>
                          <input   formControlName="attire" [(ngModel)]="attire"  class="form-control" type="text">
                             
                                <span class="help-block" *ngIf="registerform.get('attire').errors &&
                            (registerform.get('attire').touched || registerform.get('attire').dirty)">
                              <span *ngIf="registerform.get('attire').errors.required" class="text-danger">Basic Pay is required</span>
                            </span>
                            </div>
        
                            <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('special').errors &&
                            (registerform.get('special').touched || registerform.get('special').dirty)
                          }">
                          <label>Special Allowances</label>
                                        <input  formControlName="special" [(ngModel)]="special"  class="form-control" type="text">
                                        
                                    <span class="help-block" *ngIf="registerform.get('special').errors &&
                                    (registerform.get('special').touched || registerform.get('special').dirty)">
                                      <span *ngIf="registerform.get('special').errors.required" class="text-danger">Basic Pay is required</span>
                                    </span>
                                </div>
                         </div>

                         <div class="row">
                         
                                <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('other').errors &&
                                (registerform.get('other').touched || registerform.get('other').dirty)
                              }">
                              <label>Other Allowances</label>
                              <input  formControlName="other" [(ngModel)]="other"  class="form-control" type="text">
                                
                                    <span class="help-block" *ngIf="registerform.get('other').errors &&
                                (registerform.get('other').touched || registerform.get('other').dirty)">
                                  <span *ngIf="registerform.get('other').errors.required" class="text-danger">Basic Pay is required</span>
                                </span>
                                </div>
            
                                <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('gross_salary').errors &&
                                (registerform.get('gross_salary').touched || registerform.get('gross_salary').dirty)
                              }">
                              <label>Gross Salary</label>
                            <input  formControlName="gross_salary" [(ngModel)]="gross_salary"  class="form-control" type="text">
                            <span class="help-block" *ngIf="registerform.get('gross_salary').errors &&
                            (registerform.get('gross_salary').touched || registerform.get('gross_salary').dirty)">
                              <span *ngIf="registerform.get('gross_salary').errors.required" class="text-danger">Basic Pay is required</span>
                            </span>
                                        
                                    </div>
                             </div>

                             <div class="row">
                         
                                    <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('pt').errors &&
                                    (registerform.get('pt').touched || registerform.get('pt').dirty)
                                  }">
                                  <label>Prof. Tax</label>
                                    <input  formControlName="pt" [(ngModel)]="pt"  class="form-control" type="text">
                                      
                                        <span class="help-block" *ngIf="registerform.get('pt').errors &&
                                    (registerform.get('pt').touched || registerform.get('pt').dirty)">
                                      <span *ngIf="registerform.get('pt').errors.required" class="text-danger">Basic Pay is required</span>
                                    </span>
                                    </div>
                
                                    <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('esic').errors &&
                                    (registerform.get('esic').touched || registerform.get('esic').dirty)
                                  }">
                                            <label>ESIC</label>
                                            <input  formControlName="esic" [(ngModel)]="esic"  class="form-control" type="text">
                                            <span class="help-block" *ngIf="registerform.get('esic').errors &&
                                    (registerform.get('esic').touched || registerform.get('esic').dirty)">
                                      <span *ngIf="registerform.get('esic').errors.required" class="text-danger">Basic Pay is required</span>
                                    </span>
                                            
                                        </div>
                                 </div>

                                 <div class="row">
                         
                                        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('epf').errors &&
                                        (registerform.get('epf').touched || registerform.get('epf').dirty)
                                      }">
                                      <label>	P. F.</label>
                                    <input  formControlName="epf" [(ngModel)]="epf" class="form-control" type="text">
                                       
                                            <span class="help-block" *ngIf="registerform.get('epf').errors &&
                                        (registerform.get('epf').touched || registerform.get('epf').dirty)">
                                          <span *ngIf="registerform.get('epf').errors.required" class="text-danger">Basic Pay is required</span>
                                        </span>
                                        </div>
                    
                                        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('tds').errors &&
                                        (registerform.get('tds').touched || registerform.get('tds').dirty)
                                      }">
                                      <label>TDS</label>
                                      <input  formControlName="tds" [(ngModel)]="tds" class="form-control" type="text">
                                     <span class="help-block" *ngIf="registerform.get('tds').errors &&
                                        (registerform.get('tds').touched || registerform.get('tds').dirty)">
                                          <span *ngIf="registerform.get('tds').errors.required" class="text-danger">Basic Pay is required</span>
                                        </span>
                                                
                                            </div>
                                     </div>

                                     <div class="row">
                         
                                            <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('advance').errors &&
                                            (registerform.get('advance').touched || registerform.get('advance').dirty)
                                          }">
                                          <label>Advance/ Other Deductions</label>
                                        <input  formControlName="advance" [(ngModel)]="advance" class="form-control" type="text">
                                         
                                                <span class="help-block" *ngIf="registerform.get('advance').errors &&
                                            (registerform.get('advance').touched || registerform.get('advance').dirty)">
                                              <span *ngIf="registerform.get('advance').errors.required" class="text-danger">Basic Pay is required</span>
                                            </span>
                                            </div>
                        
                                            <div class="col-sm-6 form-group">
                                          <label>Total Deduction</label>
                                        <input formControlName="total_deduction" [(ngModel)]="total_deduction"  
                                         class="form-control" type="text">
                                                    
                                                </div>
                                         </div>

                                         <div class="row">
                         
                                                <div class="col-sm-6 form-group">
                                              <label>Net Salary</label>
                            <input  formControlName="net_salary" [(ngModel)]="net_salary"  class="form-control" type="text">
                            
                                                
                                                </div>
                            
                                               
                                             </div>

                 <div class="col-sm-6 form-group">
                     <button [disabled]="!registerform.valid" class="btn btn-primary">Update</button>
                 </div>

         </form>
                                        
</mat-dialog-content>
