<!DOCTYPE html>
<html lang="en">

<head>
 
</head>

<body class="fixed-navbar">
    <div class="page-wrapper">
        <!-- START HEADER-->
       <app-header></app-header>
        <!-- END HEADER-->
        <!-- START SIDEBAR-->
        <app-sidebar></app-sidebar>
        <!-- END SIDEBAR-->
        <div class="content-wrapper">
                <div class="page-heading">
                        <h1 class="page-title">Add Enquiry</h1>
                    </div>

                    <div class="page-content fade-in-up">
                        <!--enquiry type-->
                        <div class="row">
                            <div class="col-lg-12">
                               
                                   
                                   <div class="ibox-body">
                                           
                                        <div class="form-group">
                                                <label>Enquiry Type</label>
                                                <select class="form-control select2_demo_1 col-sm-4" (change)="select($event.target.value)">
                                                        <option value="">--Select Any--</option>
                                                    <option *ngFor="let data of get_enquiry" value="{{data.id}}">{{data.name}}</option>
                                                    
                                                </select>
                                            </div>
                                    
                                </div>
                            </div>
                           
                             
                        </div>
                                <!--enquiry type-->

                               
                                <!--enquiry form intership-->
                                <div class="row" *ngIf="value==1">
                                    <div class="col-lg-12">
                                        <div class="ibox">
                                            <div class="ibox-head">
                                                <div class="ibox-title">Internship Enquiry form</div>
                                               
                                                <div class="ibox-tools"> <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                                                </div>
                                               
                                            </div>
                                            
                                            <div class="ibox-body">
                                                   
                                                <form [formGroup]="registerform" (ngSubmit)="onSubmit()">
                                                   
                                                    <div class="row">
                                                        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('reference').errors &&
                                                        (registerform.get('reference').touched || registerform.get('reference').dirty)
                                                      }">
                                                            <label>Reference</label>
                                                            <select formControlName="reference" class="form-control select2_demo_1">
                                                                    <option value="">--Select Any--</option>
                                                                <option *ngFor="let data of get_reference" value="{{data.id}}">{{data.name}}</option>
                                                                
                                                            </select>
                                                            <span class="help-block" *ngIf="registerform.get('reference').errors &&
                    (registerform.get('reference').touched || registerform.get('reference').dirty)">
                      <span *ngIf="registerform.get('reference').errors.required" class="text-danger">Reference is required</span>
                    </span>
                                                        </div>
                                                        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('stud_name').errors &&
                                                        (registerform.get('stud_name').touched || registerform.get('stud_name').dirty)
                                                      }">
                                                            <label>Student Name</label>
                                                            <input formControlName="stud_name" class="form-control" type="text">
                                                            <span class="help-block" *ngIf="registerform.get('stud_name').errors &&
                                                            (registerform.get('stud_name').touched || registerform.get('stud_name').dirty)">
                                                              <span *ngIf="registerform.get('stud_name').errors.required" class="text-danger">Student Name is required</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                   
                                                    <div class="row">
                                                            <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('contact_no').errors &&
                                                            (registerform.get('contact_no').touched || registerform.get('contact_no').dirty)
                                                          }">
                                                                <label>Contact No.</label>
                                                                <input formControlName="contact_no" class="form-control" type="text">
                                                                <span class="help-block" *ngIf="registerform.get('contact_no').errors &&
                                                                (registerform.get('contact_no').touched || registerform.get('contact_no').dirty)">
                                                                  <span *ngIf="registerform.get('contact_no').errors.required" class="text-danger">Contact No. is required</span>
                                                                  <span *ngIf="registerform.get('contact_no').errors.minlength 
                                                                  || registerform.get('contact_no').errors.pattern" class="text-danger" class="text-danger">Contact No. is not valid</span>
                                                                  
                                                                </span>
                                                                
                                                                
                                                            </div>
                                                            <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('email').errors &&
                                                            (registerform.get('email').touched || registerform.get('email').dirty)
                                                          }">
                                                                <label>Email Id</label>
                                                                <input formControlName="email" class="form-control" type="text">
                                                                <span class="help-block" *ngIf="registerform.get('email').errors &&
                                                                (registerform.get('email').touched || registerform.get('email').dirty)">
                                                                  <span *ngIf="registerform.get('email').errors.required" class="text-danger">Email Id is required</span>
                                                                </span>
                                                                <span class="help-block" *ngIf="registerform.get('email').errors &&
                                                                (registerform.get('email').touched || registerform.get('email').dirty)">
                                                                  <span *ngIf="registerform.get('email').errors.email" class="text-danger">Email address should be valid</span>
                                                                </span>
                                                            </div>
                                                        </div>
    
                                                        <div class="row">
                                                                <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('qualification').errors &&
                                                                (registerform.get('qualification').touched || registerform.get('qualification').dirty)
                                                              }">
                                                                    <label>Qualification</label>
                                                                    <input formControlName="qualification" class="form-control" type="text">
                                                                    <span class="help-block" *ngIf="registerform.get('qualification').errors &&
                                                                    (registerform.get('qualification').touched || registerform.get('qualification').dirty)">
                                                                      <span *ngIf="registerform.get('qualification').errors.required" class="text-danger">Qualification is required</span>
                                                                    </span>
                                                                </div>
                                                                <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('address').errors &&
                                                                (registerform.get('address').touched || registerform.get('address').dirty)
                                                              }">
                                                                    <label>Address</label>
                                                                    <input formControlName="address" class="form-control" type="text">
                                                                    <span class="help-block" *ngIf="registerform.get('address').errors &&
                                                                    (registerform.get('address').touched || registerform.get('address').dirty)">
                                                                      <span *ngIf="registerform.get('address').errors.required" class="text-danger">Address is required</span>
                                                                    </span>
                                                                </div>
                                                            </div>
    
                                                            <div class="row">
                                                                    <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('fees').errors &&
                                                                    (registerform.get('fees').touched || registerform.get('fees').dirty)
                                                                  }">
                                                                        <label>Fees(RS.)</label>
                                                                        <input formControlName="fees" class="form-control" type="text">
                                                                        <span class="help-block" *ngIf="registerform.get('fees').errors &&
                                                                        (registerform.get('fees').touched || registerform.get('fees').dirty)">
                                                                          <span *ngIf="registerform.get('fees').errors.required" class="text-danger">Fees is required</span>
                                                                        </span>
                                                                    </div>
                                                                    <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform.get('status').errors &&
                                                                    (registerform.get('status').touched || registerform.get('status').dirty)
                                                                  }">
                                                                        <label>Status</label>
                                                                        <select formControlName="status" class="form-control select2_demo_1" (change)="checkstatus($event.target.value)">
                                                                                <option value="">--Select Any--</option>
                                                                            <option value="Confirmed">Confirm</option>
                                                                            <option value="Inprocess">Progress</option>
                                                                            
                                                                        </select>
                                                                        <span class="help-block" *ngIf="registerform.get('status').errors &&
                                                                        (registerform.get('status').touched || registerform.get('status').dirty)">
                                                                          <span *ngIf="registerform.get('status').errors.required" class="text-danger">Status is required</span>
                                                                        </span>
                                                                    </div>

                                                                    <div class="col-sm-6 form-group" *ngIf="followdate">
                                                                        <label>Next Follow_up Date</label>
                                                                        <input formControlName="followdate" class="form-control" type="date">
                                                                       
                                                                    </div>
                                                                </div>
    
                                                                
    
                                                    <div class="form-group">
                                                        <button class="btn btn-primary" [disabled]="!registerform.valid">Submit</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                   
                                     
                                </div>
                             <!--enquiry form internship-->


<!--enquiry form project-->

<div class="row" *ngIf="value==2">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Project Enquiry form</div>
                   
                    <div class="ibox-tools"> <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                   
                </div>
                
                <div class="ibox-body">
                       
                    <form [formGroup]="registerform1" (ngSubmit)="onsubmit1()">
                       
                        <div class="row">
                            <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform1.get('reference').errors &&
                            (registerform1.get('reference').touched || registerform1.get('reference').dirty)
                          }">
                                <label>Reference</label>
                                <select formControlName="reference" class="form-control select2_demo_1">
                                        <option value="">--Select Any--</option>
                                        <option *ngFor="let data of get_reference" value="{{data.id}}">{{data.name}}</option>
                                                                
                                </select>
                                <span class="help-block" *ngIf="registerform1.get('reference').errors &&
                (registerform1.get('reference').touched || registerform1.get('reference').dirty)">
                  <span *ngIf="registerform1.get('reference').errors.required" class="text-danger">Reference is required</span>
                </span>
                            </div>

                            <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform1.get('project_name').errors &&
                            (registerform1.get('project_name').touched || registerform1.get('project_name').dirty)
                          }">
                                <label>Project Name</label>
                                <input formControlName="project_name" class="form-control" type="text">
                                <span class="help-block" *ngIf="registerform1.get('project_name').errors &&
                                (registerform1.get('project_name').touched || registerform1.get('project_name').dirty)">
                                  <span *ngIf="registerform1.get('project_name').errors.required" class="text-danger">Project Name is required</span>
                                </span>
                            </div>
                        </div>
                       
                        <div class="row">
                                <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform1.get('cust_name').errors &&
                                (registerform1.get('cust_name').touched || registerform1.get('cust_name').dirty)
                              }">
                                    <label>Customer Name</label>
                                    <input formControlName="cust_name" class="form-control" type="text">
                                    <span class="help-block" *ngIf="registerform1.get('cust_name').errors &&
                                    (registerform1.get('cust_name').touched || registerform1.get('cust_name').dirty)">
                                      <span *ngIf="registerform1.get('cust_name').errors.required" class="text-danger">Customer Name is required</span>
                                    </span>
                                </div>
                                <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform1.get('contact_no').errors &&
                                (registerform1.get('contact_no').touched || registerform1.get('contact_no').dirty)
                              }">
                                    <label>Contact No.</label>
                                    <input formControlName="contact_no" class="form-control" type="text">
                                    <span class="help-block" *ngIf="registerform1.get('contact_no').errors &&
                                    (registerform1.get('contact_no').touched || registerform1.get('contact_no').dirty)">
                                      <span *ngIf="registerform1.get('contact_no').errors.required" class="text-danger">Contact No. is required</span>
                                      <span *ngIf="registerform1.get('contact_no').errors.minlength 
                                      || registerform1.get('contact_no').errors.pattern" class="text-danger" class="text-danger">Contact No. is not valid</span>
                                       
                                    </span>
                                   
                                </div>
                            </div>

                            <div class="row">
                                    <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform1.get('email').errors &&
                                    (registerform1.get('email').touched || registerform1.get('email').dirty)
                                  }">
                                        <label>Email Id</label>
                                        <input formControlName="email" class="form-control" type="text">
                                        <span class="help-block" *ngIf="registerform1.get('email').errors &&
                                        (registerform1.get('email').touched || registerform1.get('email').dirty)">
                                          <span *ngIf="registerform1.get('email').errors.required" class="text-danger">Email Id is required</span>
                                        </span>
                                        <span class="help-block" *ngIf="registerform1.get('email').errors &&
                                        (registerform1.get('email').touched || registerform1.get('email').dirty)">
                                          <span *ngIf="registerform1.get('email').errors.email" class="text-danger">Email address should be valid</span>
                                        </span>
                                      </div>

                                    <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform1.get('company_name').errors &&
                                    (registerform1.get('company_name').touched || registerform1.get('company_name').dirty)
                                  }">
                                        <label>Company Name</label>
                                        <input formControlName="company_name" class="form-control" type="text">
                                        <span class="help-block" *ngIf="registerform1.get('company_name').errors &&
                                        (registerform1.get('company_name').touched || registerform1.get('company_name').dirty)">
                                          <span *ngIf="registerform1.get('company_name').errors.required" class="text-danger">Company Name is required</span>
                                        </span>
                                    </div>
                                </div>

                                <div class="row">
                                        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform1.get('address').errors &&
                                        (registerform1.get('address').touched || registerform1.get('address').dirty)
                                      }">
                                            <label>Address</label>
                                            <input formControlName="address" class="form-control" type="text">
                                            <span class="help-block" *ngIf="registerform1.get('address').errors &&
                                            (registerform1.get('address').touched || registerform1.get('address').dirty)">
                                              <span *ngIf="registerform1.get('address').errors.required" class="text-danger">Address is required</span>
                                            </span>
                                        </div>

                                        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform1.get('status').errors &&
                                        (registerform1.get('status').touched || registerform1.get('status').dirty)
                                      }">
                                            <label>Status</label>
                                            <select formControlName="status" class="form-control select2_demo_1">
                                                    <option value="">--Select Any--</option>
                                                    <option value="Confirmed">Confirm</option>
                                                    <option value="Inprocess">Progress</option>
                                                
                                            </select>
                                            <span class="help-block" *ngIf="registerform1.get('status').errors &&
                                            (registerform1.get('status').touched || registerform1.get('status').dirty)">
                                              <span *ngIf="registerform1.get('status').errors.required" class="text-danger">Status is required</span>
                                            </span>
                                        </div>
                                    </div>

                                    

                        <div class="form-group">
                            <button class="btn btn-primary" [disabled]="registerform1.invalid">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
       
         
    </div>
<!--enquiry form project-->


<!--enquiry form recuirtment-->
<div class="row" *ngIf="value==3">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-head">
                <div class="ibox-title">Recuirtment Enquiry form</div>
               
                <div class="ibox-tools"> <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                </div>
               
            </div>
            
            <div class="ibox-body">
                   
                <form [formGroup]="registerform2"  (ngSubmit)="onsubmit2()">
                   
                    <div class="row">
                            <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform2.get('emp_name').errors &&
                            (registerform2.get('emp_name').touched || registerform2.get('emp_name').dirty)
                          }">
                                    <label>Employee Name</label>
                                    <input formControlName="emp_name" class="form-control" type="text">
                                    <span class="help-block" *ngIf="registerform2.get('emp_name').errors &&
                                    (registerform2.get('emp_name').touched || registerform2.get('emp_name').dirty)">
                                      <span *ngIf="registerform2.get('emp_name').errors.required" class="text-danger">Employee Name is required</span>
                                    </span>
                                </div>
                        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform2.get('contact_no').errors &&
                        (registerform2.get('contact_no').touched || registerform2.get('contact_no').dirty)
                      }">
                            <label>Contact No.</label>
                            <input formControlName="contact_no" class="form-control" type="text">
                            <span class="help-block" *ngIf="registerform2.get('contact_no').errors &&
                            (registerform2.get('contact_no').touched || registerform2.get('contact_no').dirty)">
                              <span *ngIf="registerform2.get('contact_no').errors.required" class="text-danger">Contact No. is required</span>
                              <span *ngIf="registerform2.get('contact_no').errors.minlength 
                              || registerform2.get('contact_no').errors.pattern" class="text-danger" class="text-danger">Contact No. is not valid</span>
                              
                            </span>
                           
                        </div>
                    </div>
                   
                   

                        <div class="row">
                                <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform2.get('email').errors &&
                                (registerform2.get('email').touched || registerform2.get('email').dirty)
                              }">
                                    <label>Email Id</label>
                                    <input formControlName="email" class="form-control" type="text">
                                    <span class="help-block" *ngIf="registerform2.get('email').errors &&
                                    (registerform2.get('email').touched || registerform2.get('email').dirty)">
                                      <span *ngIf="registerform2.get('email').errors.required" class="text-danger">Email is required</span>
                                    </span>
                                    <span class="help-block" *ngIf="registerform2.get('email').errors &&
                                    (registerform2.get('email').touched || registerform2.get('email').dirty)">
                                      <span *ngIf="registerform2.get('email').errors.email" class="text-danger">Email address should be valid</span>
                                    </span>
                                </div>
                                <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform2.get('company_name').errors &&
                                (registerform2.get('company_name').touched || registerform2.get('company_name').dirty)
                              }">
                                    <label>Company Name</label>
                                    <input formControlName="company_name" class="form-control" type="text">
                                    <span class="help-block" *ngIf="registerform2.get('company_name').errors &&
                                    (registerform2.get('company_name').touched || registerform2.get('company_name').dirty)">
                                      <span *ngIf="registerform2.get('company_name').errors.required" class="text-danger">Company Name is required</span>
                                    </span>
                                </div>
                            </div>

                            <div class="row">
                                    <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform2.get('address').errors &&
                                    (registerform2.get('address').touched || registerform2.get('address').dirty)
                                  }">
                                        <label>Address</label>
                                        <input formControlName="address" class="form-control" type="text">
                                        <span class="help-block" *ngIf="registerform2.get('address').errors &&
                                    (registerform2.get('address').touched || registerform2.get('address').dirty)">
                                      <span *ngIf="registerform2.get('address').errors.required" class="text-danger">Address is required</span>
                                    </span>
                                    </div>

                                    <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform2.get('status').errors &&
                                    (registerform2.get('status').touched || registerform2.get('status').dirty)
                                  }">
                                        <label>Status</label>
                                        <select formControlName="status" class="form-control select2_demo_1">
                                                <option value="CA">--Select Any--</option>
                                                <option value="Confirmed">Confirm</option>
                                                <option value="Inprocess">Progress</option>
                                            
                                        </select>
                                        <span class="help-block" *ngIf="registerform2.get('status').errors &&
                                    (registerform2.get('status').touched || registerform2.get('status').dirty)">
                                      <span *ngIf="registerform2.get('status').errors.required" class="text-danger">Status is required</span>
                                    </span>
                                    </div>
                                </div>

                                <div class="row">
                                        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform2.get('ctc').errors &&
                                        (registerform2.get('ctc').touched || registerform2.get('ctc').dirty)
                                      }">
                                                <label>CTC</label>
                                                <input formControlName="ctc" class="form-control" type="text">
                                                <span class="help-block" *ngIf="registerform2.get('ctc').errors &&
                                    (registerform2.get('ctc').touched || registerform2.get('ctc').dirty)">
                                      <span *ngIf="registerform2.get('ctc').errors.required" class="text-danger">CTC is required</span>
                                      <span *ngIf="registerform2.get('ctc').errors.minlength 
                                      || registerform2.get('ctc').errors.pattern" class="text-danger" class="text-danger">CTC is not valid</span>
                                      
                                    </span>
                                            </div>
                                        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform2.get('design').errors &&
                                        (registerform2.get('design').touched || registerform2.get('design').dirty)
                                      }">
                                            <label>Designation</label>
                                            <input formControlName="design" class="form-control" type="text">
                                            <span class="help-block" *ngIf="registerform2.get('design').errors &&
                                    (registerform2.get('design').touched || registerform2.get('design').dirty)">
                                      <span *ngIf="registerform2.get('design').errors.required" class="text-danger">Designation is required</span>
                                    </span>
                                        </div>
                                       
                                    </div>

                                    <div class="row">
                                        
                                        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform2.get('gstin').errors &&
                                        (registerform2.get('gstin').touched || registerform2.get('gstin').dirty)
                                      }">
                                            <label>GSTIN</label>
                                            <input formControlName="gstin" class="form-control" type="text">
                                            <span class="help-block" *ngIf="registerform2.get('gstin').errors &&
                                            (registerform2.get('gstin').touched || registerform2.get('gstin').dirty)">
                                              <span *ngIf="registerform2.get('gstin').errors.required" class="text-danger">GSTIN is required</span>
                                            </span>
                                        </div>
                                       
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform2.get('state').errors &&
                                        (registerform2.get('state').touched || registerform2.get('state').dirty)
                                      }">
                                                <label>Select State</label>
                                                <select formControlName="state" class="form-control select2_demo_1">
                                                    <option value="">--Select Any--</option>
                                                <option *ngFor="let data of get_state" value="{{data.id}}">{{data.name}}</option>
                                               
                                                
                                            </select>
                                            <span class="help-block" *ngIf="registerform2.get('state').errors &&
                                            (registerform2.get('state').touched || registerform2.get('state').dirty)">
                                              <span *ngIf="registerform2.get('state').errors.required" class="text-danger">GSTIN is required</span>
                                            </span>
                                            </div>
                                        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform2.get('purchase_order').errors &&
                                        (registerform2.get('purchase_order').touched || registerform2.get('purchase_order').dirty)
                                      }">
                                            <label>Purchase Order</label>
                                            <input formControlName="purchase_order" class="form-control" type="text">
                                            <span class="help-block" *ngIf="registerform2.get('purchase_order').errors &&
                                            (registerform2.get('purchase_order').touched || registerform2.get('purchase_order').dirty)">
                                              <span *ngIf="registerform2.get('purchase_order').errors.required" class="text-danger">Purchase Order is required</span>
                                            </span>
                                        </div>
                                       
                                    </div>

                    <div class="form-group">
                        <button [disabled]="!registerform2.valid" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
   
     
</div>

<!--enquiry form recuirtment-->

<!--enquiry form staffing-->

<div class="row" *ngIf="value==4">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-head">
                <div class="ibox-title">Staffing Enquiry form</div>
               
                <div class="ibox-tools"> <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                </div>
               
            </div>
            
            <div class="ibox-body">
                   
                <form [formGroup]="registerform3"  (ngSubmit)="onsubmit3()">
                   
                    <div class="row">
                            <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform3.get('emp_name').errors &&
                            (registerform3.get('emp_name').touched || registerform3.get('emp_name').dirty)
                          }">
                                    <label>Employee Name</label>
                                    <input formControlName="emp_name" class="form-control" type="text">
                                    <span class="help-block" *ngIf="registerform3.get('emp_name').errors &&
                                    (registerform3.get('emp_name').touched || registerform3.get('emp_name').dirty)">
                                      <span *ngIf="registerform3.get('emp_name').errors.required" class="text-danger">Employee Name is required</span>
                                    </span>
                                </div>
                        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform3.get('contact_no').errors &&
                        (registerform3.get('contact_no').touched || registerform3.get('contact_no').dirty)
                      }">
                            <label>Contact No.</label>
                            <input formControlName="contact_no" class="form-control" type="text">
                            <span class="help-block" *ngIf="registerform3.get('contact_no').errors &&
                            (registerform3.get('contact_no').touched || registerform3.get('contact_no').dirty)">
                              <span *ngIf="registerform3.get('contact_no').errors.required" class="text-danger">Contact No. is required</span>
                              <span *ngIf="registerform3.get('contact_no').errors.minlength 
                              || registerform3.get('contact_no').errors.pattern" class="text-danger" class="text-danger">Contact No. is not valid</span>
                              
                            </span>
                           
                        </div>
                    </div>
                   
                   

                        <div class="row">
                                <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform3.get('email').errors &&
                                (registerform3.get('email').touched || registerform3.get('email').dirty)
                              }">
                                    <label>Email Id</label>
                                    <input formControlName="email" class="form-control" type="text">
                                    <span class="help-block" *ngIf="registerform3.get('email').errors &&
                                    (registerform3.get('email').touched || registerform3.get('email').dirty)">
                                      <span *ngIf="registerform3.get('email').errors.required" class="text-danger">Email is required</span>
                                    </span>
                                    <span class="help-block" *ngIf="registerform3.get('email').errors &&
                                    (registerform3.get('email').touched || registerform3.get('email').dirty)">
                                      <span *ngIf="registerform3.get('email').errors.email" class="text-danger">Email is required</span>
                                    </span>
                                </div>
                                <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform3.get('company_name').errors &&
                                (registerform3.get('company_name').touched || registerform3.get('company_name').dirty)
                              }">
                                    <label>Company Name</label>
                                    <input formControlName="company_name" class="form-control" type="text">
                                    <span class="help-block" *ngIf="registerform3.get('company_name').errors &&
                                    (registerform3.get('company_name').touched || registerform3.get('company_name').dirty)">
                                      <span *ngIf="registerform3.get('company_name').errors.required" class="text-danger">Company Name is required</span>
                                    </span>
                                </div>
                            </div>

                            <div class="row">
                                    <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform3.get('address').errors &&
                                    (registerform3.get('address').touched || registerform3.get('address').dirty)
                                  }">
                                        <label>Address</label>
                                        <input formControlName="address" class="form-control" type="text">
                                        <span class="help-block" *ngIf="registerform3.get('address').errors &&
                                    (registerform3.get('address').touched || registerform3.get('address').dirty)">
                                      <span *ngIf="registerform3.get('address').errors.required" class="text-danger">Address is required</span>
                                    </span>
                                    </div>

                                    <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform3.get('status').errors &&
                                    (registerform3.get('status').touched || registerform3.get('status').dirty)
                                  }">
                                        <label>Status</label>
                                        <select formControlName="status" class="form-control select2_demo_1">
                                                <option value="">--Select Any--</option>
                                                <option value="Confirmed">Confirm</option>
                                                <option value="Inprocess">Progress</option>
                                            
                                        </select>
                                        <span class="help-block" *ngIf="registerform3.get('status').errors &&
                                    (registerform3.get('status').touched || registerform3.get('status').dirty)">
                                      <span *ngIf="registerform3.get('status').errors.required" class="text-danger">Status is required</span>
                                    </span>
                                    </div>
                                </div>

                                <div class="row">
                                        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform2.get('ctc').errors &&
                                        (registerform3.get('ctc').touched || registerform2.get('ctc').dirty)
                                      }">
                                                <label>CTC</label>
                                                <input formControlName="ctc" class="form-control" type="text">
                                                <span class="help-block" *ngIf="registerform3.get('ctc').errors &&
                                    (registerform3.get('ctc').touched || registerform3.get('ctc').dirty)">
                                      <span *ngIf="registerform3.get('ctc').errors.required" class="text-danger">CTC is required</span>
                                      <span *ngIf="registerform3.get('ctc').errors.minlength 
                                      || registerform3.get('ctc').errors.pattern" class="text-danger" class="text-danger">CTC is not valid</span>
                                      
                                    </span>
                                            </div>
                                        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform3.get('salary').errors &&
                                        (registerform3.get('salary').touched || registerform3.get('salary').dirty)
                                      }">
                                            <label>Salary per month</label>
                                            <input formControlName="salary" class="form-control" type="text">
                                            <span class="help-block" *ngIf="registerform3.get('salary').errors &&
                                    (registerform3.get('salary').touched || registerform3.get('salary').dirty)">
                                      <span *ngIf="registerform3.get('salary').errors.required" class="text-danger">Designation is required</span>
                                      <span *ngIf="registerform3.get('salary').errors.minlength 
                                      || registerform3.get('salary').errors.pattern" class="text-danger" class="text-danger">Salary is not valid</span>
                                      
                                    </span>
                                        </div>
                                       
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6 form-group" [ngClass]="{'has-error':registerform3.get('design').errors &&
                                        (registerform3.get('design').touched || registerform3.get('design').dirty)
                                      }">
                                                <label>Designation</label>
                                                <input formControlName="design" class="form-control" type="text">
                                                <span class="help-block" *ngIf="registerform3.get('design').errors &&
                                                (registerform3.get('design').touched || registerform3.get('design').dirty)">
                                                  <span *ngIf="registerform3.get('design').errors.required" class="text-danger">Designation is required</span>
                                                </span>
                                            </div>
                                        
                                       
                                    </div>

                                  

                    <div class="form-group">
                        <button [disabled]="!registerform3.valid" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
   
     
</div>

<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">


<div style="overflow:auto;">
<div class="mat-elevation-z8">
  <mat-table [dataSource]="listData" matSort>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>

    <!-- <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>id</mat-header-cell>
        <mat-cell *matCellDef="let row">
            <button>s</button>
            <button>s</button>
        </mat-cell>
        
    </ng-container> -->

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Customer Name</mat-header-cell>
        <mat-header-cell *matCellDef="let element">{{element.name}}</mat-header-cell>
      
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email Id</mat-header-cell>
      <mat-header-cell *matCellDef="let element">{{element.email}}</mat-header-cell>
      
  </ng-container>

  <ng-container matColumnDef="enquiry_name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Enquiry Type</mat-header-cell>
    <mat-header-cell *matCellDef="let element">{{element.enquiry_name}}</mat-header-cell>
    
</ng-container>

<ng-container matColumnDef="status">
  <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
  <mat-header-cell *matCellDef="let element">{{element.status}}</mat-header-cell>
</ng-container>

<ng-container matColumnDef="id">
  <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
  <mat-header-cell *matCellDef="let element"><a  (click)="openDialog(element.id)">v
    <i class='fa fa-eye' style="font-size:24px"></i>
</a>||
  <a (click)="openDialog1(element.id)">
                            e                
  <i class='fas fa-edit' style="font-size:24px"></i>
  </a>||
     <a (click)="delete(element.id)">d
  <i class='fa fa-trash' style="font-size:24px"></i>
   </a></mat-header-cell>
</ng-container>
   
  </mat-table>
  <mat-paginator [length]="100"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>

</div>
</div>
<!--h-->
                        </div>
            </div>
            
        <!-- END PAGE CONTENT-->
        <!-- BEGIN PAGA BACKDROPS-->
        <div class="sidenav-backdrop backdrop"></div>
        
        <!-- END PAGA BACKDROPS-->
        <!-- CORE PLUGINS-->
</div>
</body>

</html>