<ngx-spinner></ngx-spinner>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>SAASHR | HR Admin Template | SAAS | Bootstrap</title>
    <!-- GLOBAL MAINLY STYLES-->
    <!-- <link href="./assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="./assets/css/themify-icons.css" rel="stylesheet" /> -->
    <!-- PLUGINS STYLES-->
    <!-- <link href="./assets/css/datatables.min.css" rel="stylesheet" /> -->
    <!-- THEME STYLES-->
    <!-- <link href="./assets/css/main.min.css" rel="stylesheet" /> -->
    <!-- PAGE LEVEL STYLES-->
</head>

<body class="fixed-navbar">
    <div class="page-wrapper">
           <app-header></app-header>


              <app-sidebar></app-sidebar>

                    <div class="content-wrapper">
                            <!-- START PAGE CONTENT-->
                            <div class="page-heading">
                                <h1 class="page-title">Show Employee</h1>
                            </div>
                            <div class="page-content fade-in-up">
                               
                                <!-- -->
                               <!--h-->

                               <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                              
                                <button style="margin-left:87%" class="btn btn-primary" routerLink="/addemp">Add New Employee</button>
                            
                               <div style="overflow:auto;">
                                <div class="mat-elevation-z8">
                                    <mat-table [dataSource]="listData" matSort>
                                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>
                                    
                                       
                                    
                                        <ng-container matColumnDef="first_name" >
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                                            <mat-header-cell *matCellDef="let element">{{element.first_name}} {{element.middle_name}}
                                                {{element.last_name}}
                                                 
                                               
                                            </mat-header-cell>
                                            
                                        </ng-container>

                                        <ng-container matColumnDef="mobile_no" >
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Mobile No.</mat-header-cell>
                                            <mat-header-cell *matCellDef="let element">{{element.mobile_no}}
                                               
                                            </mat-header-cell>
                                            
                                        </ng-container>

                                        <ng-container matColumnDef="personal_email" >
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Personal Email</mat-header-cell>
                                            <mat-header-cell *matCellDef="let element">{{element.personal_email}}
                                               
                                            </mat-header-cell>
                                         </ng-container>

                                         <ng-container matColumnDef="desname" >
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Designation</mat-header-cell>
                                            <mat-header-cell *matCellDef="let element">{{element.desname}}
                                               
                                            </mat-header-cell>
                                         </ng-container>

                                         <ng-container matColumnDef="id" >
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
                                            <mat-header-cell *matCellDef="let element"><a  (click)="openDialog(element.id)">
                                             <i class='fa fa-eye' style="font-size:24px"></i>
                                            
                                            </a> ||
                                            <a (click)="openDialog1(element.id)">
                                            
                                        <i class='fas fa-edit' style="font-size:24px"></i>
                                        
                                    </a>
                                    ||
                                        
                                        <a (click)="delete_emp(element.id)">
                                             <i class='fa fa-trash'  style="font-size:24px"></i>
                                             
                                            </a>
                                               
                                            </mat-header-cell>
                                         </ng-container>

                                         
                                      </mat-table>
                                      <mat-paginator [length]="100"
                                                  [pageSize]="5"
                                                  [pageSizeOptions]="[5, 10, 25, 100]">
                                    </mat-paginator>
                                    
                                    </div>
                                    </div>
                               <!--h-->
                            </div>
                        </div>
       </div>   
       <div class="sidenav-backdrop backdrop"></div>

</body>

</html>