/* You can add global styles to this file, and also import other style files */


@import url(assets/css/bootstrap.min.css);
 /* @import url(assets/css/font-awesome.min.css); */
/* @import url(assets/css/themify-icons.css); */
@import url(assets/css/style.css);
@import url(assets/css/pages/auth-light.css);
@import url(assets/css/datatables.min.css);
@import url(assets/css/main.min.css);

@import '~ngx-toastr/toastr';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
