<ngx-spinner></ngx-spinner>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>SAASHR | HR Admin Template | SAAS | Bootstrap</title>
    <!-- GLOBAL MAINLY STYLES-->
    <!-- <link href="./assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="./assets/css/themify-icons.css" rel="stylesheet" /> -->
    <!-- PLUGINS STYLES-->
    <!-- <link href="./assets/css/datatables.min.css" rel="stylesheet" /> -->
    <!-- THEME STYLES-->
    <!-- <link href="./assets/css/main.min.css" rel="stylesheet" /> -->
    <!-- PAGE LEVEL STYLES-->
</head>

<body class="fixed-navbar">
    <div class="page-wrapper">
           <app-header></app-header>


              <app-sidebar></app-sidebar>

                    <div class="content-wrapper">
                            <!-- START PAGE CONTENT-->
                            <div class="page-heading">
                                <h1 class="page-title">Salary Sheet</h1>
                            </div>
                            <div class="page-content fade-in-up">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ibox">
                                            
                                            <div class="ibox-body">
                                                    <form [formGroup]="registerform" (ngSubmit)="onSubmit()">
                                                    <div class="row">
                                                    <div class="col-sm-5 form-group">
                                                    <label>Month</label>
                                                                                <select name="month"  formControlName="month" class="form-control">
                                                                                     <option value="">--Select Month--</option>
                                                                                     <option *ngFor="let month of months" [ngValue]="month.id">
                                                                                                {{month.name}} {{currentDate | date:'yyyy'}}
                                                                                              </option>
                                                                                </select>
                                                                                
                                                                                </div>

                                                                                <div class="col-sm-5">
                                                                                        <br/>
                                                                                        <button  [disabled]="!registerform.valid" class="btn btn-primary">Add Salary Sheet</button>
                                                                                </div>
     
                                                    </div>
                                                         </form>                       
                                                                                <table class="table table-striped table-bordered table-hover" id="example-table">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th>Month</th>
                                                                                                <th>Year</th>
                                                                                                <th>Total Amt</th>
                                                                                               
                                                                                                <th>Action</th>
                                                                                                
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                               
                                                                                            <tr *ngFor="let data of showvalue">
                                                                                                    <td>
                                                                                                        {{data.month_name}}
                                                                                                       </td>
                                                                                                <td>{{data.year}}</td>
                                                                                                <td>{{data.sum}}</td>
                                                                                                
                                                                                               <td>
                                                                                                
                                                                                               
                                                                                                            <button (click)="salary_sheet_excel(data.month,data.year)" class="btn btn-success">
                                                                                                                            Excel sheet
                                                                                                                        </button>
                                                                                                            <!-- <button (click)="salary_sheet_excel(data.month,data.year)" class="btn btn-success" routerLink="/generate-salary">
                                                                                                                            Excel sheet
                                                                                                                        </button> -->
                                                                                                                       
                                                                                                                    
                                                                                                </td>
                                                                                                
                                                                                            </tr>
                                                                                          
                                                                                        </tbody>
                                                                                    </table>
                                            </div>

                                            
                                        </div>
                                    </div>
                                </div>
                                <!-- -->
                            </div>
                        </div>
       </div>   
       <div class="sidenav-backdrop backdrop"></div>

</body>

</html>